---
# System Configurations
common_user: "hyoga"

# Docker Configurations
docker_edition: 'ce'
docker_package_state: latest
docker_users: "{{ common_user }}"
docker_services: 
  - name: Docker Service
    value: docker.service
  - name: Docker Socket
    value: docker.socket

docker_path: "/opt/docker-confs"
docker_confs_dir: "/mnt/data"
docker_confs_nfs: "172.16.16.16"
media_nfs_share: "/mnt/data"
media_nfs: "172.16.16.15"
configuration_path: /opt/docker-confs
hotio_image: cr.hotio.dev/hotio
linuxserver_image: ghcr.io/linuxserver
docker_daemon_path: /mnt/data/docker
temp_docker_daemon_file: "/home/{{ common_user }}/code/boilerplates/ansible/templates/daemon.json.j2"
