---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-3.1.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gmail-cleaner
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    controllers:
      gmail-cleaner:
        enabled: true
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        pod:
          securityContext:
            runAsUser: &context 1999
            runAsGroup: *context
            fsGroup: *context
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/gururagavendra/gmail-cleaner
              tag: v1.1.0
              pullPolicy: IfNotPresent
            env:
              WEB_AUTH: true
              OAUTH_HOST: "gmail-cleaner.chkpwd.com"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 500Mi
    service:
      app:
        primary: true
        controller: gmail-cleaner
        ports:
          http:
            port: 8766
      oauth-callback:
        controller: gmail-cleaner
        ports:
          http:
            port: 8767
    route:
      private:
        kind: HTTPRoute
        hostnames: ["{{ .Release.Name }}.chkpwd.com"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: gmail-cleaner-app
                port: http
        parentRefs:
          - name: private
            namespace: kube-system
            sectionName: https
    persistence:
      credentials:
        type: secret
        name: gmail-cleaner
        advancedMounts:
          gmail-cleaner:
            app:
              - path: /app/credentials.json
                subPath: credentials.json
    # token:
    #   type: secret
    #   name: gmail-cleaner
    #   advancedMounts:
    #     gmail-cleaner:
    #       app:
    #         - path: /app/token.json
    #           subPath: token.json
