---
monitoring_service_definitions:
  - name: prometheus
    image: prom/prometheus:v3.10.0
    user: 1000:1000
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.config.file=/etc/prometheus/web.yml
      - --storage.tsdb.retention.time=14d
      - --storage.tsdb.retention.size=5GB
      - --log.level=info
    volumes:
      - "{{ configuration_path }}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
      - "{{ configuration_path }}/prometheus/web.yml:/etc/prometheus/web.yml:ro"
      - "{{ configuration_path }}/prometheus/data:/prometheus/data"
    ports: ["9090:9090"]
    labels:
      traefik.enable: "true"
      traefik.http.routers.promtheus.rule: "Host(`rpi-prometheus.chkpwd.com`)"
      traefik.http.routers.promtheus.entrypoints: "https"
      traefik.http.services.promtheus.loadbalancer.server.port: "9090"
      traefik.http.routers.promtheus.tls: "true"
      traefik.http.routers.prometheus.tls.certresolver: cloudflare
      traefik.http.routers.prometheus.tls.domains[0].main: chkpwd.com
      traefik.http.routers.prometheus.tls.domains[0].sans: "*.chkpwd.com"
    networks:
      - name: "proxy"
  - name: grafana
    image: grafana/grafana:12.4.0
    user: 1000:1000
    env:
      GF_DAGF_FEATURE_TOGGLES_ENABLE: publicDashboards
      GF_INSTALL_PLUGINS: grafana-clock-panel, grafana-simple-json-datasource
      GF_SECURITY_ADMIN_USER: grafana
      GF_SECURITY_ADMIN_PASSWORD: "{{ lookup('ripplefcl.bwscache.secret', 'infra-monitoring-secrets').value.grafana_admin_password }}"
    volumes:
      - "{{ configuration_path }}/grafana:/var/lib/grafana"
    ports: ["3000:3000"]
    labels:
      traefik.enable: "true"
      traefik.http.routers.grafana.rule: "Host(`grafana.chkpwd.com`)"
      traefik.http.routers.grafana.entrypoints: "https"
      traefik.http.services.grafana.loadbalancer.server.port: "3000"
      traefik.http.routers.grafana.tls: "true"
      traefik.http.routers.grafana.tls.certresolver: cloudflare
      traefik.http.routers.grafana.tls.domains[0].main: chkpwd.com
      traefik.http.routers.grafana.tls.domains[0].sans: "*.chkpwd.com"
    networks:
      - name: "proxy"
