---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: tools
data:
  bookmarks.yaml: |
    ---
  services.yaml: |
    ---
  widgets.yaml: |
    ---
    - search:
        provider: [google, duckduckgo]
        focus: false
        target: _blank
    - greeting:
        text_size: xl
        text: "Heya!"
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "K8s"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
  kubernetes.yaml: |
    ---
    mode: cluster
  docker.yaml: |
    ---
  settings.yaml: |
    ---
    title: Dashboard
    favicon: https://kubernetes.io/images/favicon.png
    theme: dark
    color: stone
    target: _self
