---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app tf-controller
  namespace: development
spec:
  interval: 15m
  chart:
    spec:
      chart: tf-controller
      version: 0.15.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: weaveworks
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    fullnameOverride: *app

    installCRDs: true

    image:
      repository: ghcr.io/weaveworks/tf-controller
      tag: "v0.16.0-rc.3"
      pullPolicy: IfNotPresent

    replicaCount: 1

    runner:
      image:
        repository: ghcr.io/weaveworks/tf-runner
        tag: "v0.16.0-rc.3"

    podAnnotations:
      reloader.stakater.com/auto: "true"

    securityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 65532
      capabilities:
        drop:
          - ALL

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

    #  AllowBreakTheGlass allows the controller to break the glass and modify Terraform states when the sync loop is broken.
    allowBreakTheGlass: false

    #  ClusterDomain indicates the cluster domain, defaults to cluster.local.
    clusterDomain: cluster.local

    logLevel: info

    resources:
      requests:
        cpu: 200m
        memory: 64Mi
      limits:
        memory: 1Gi
