---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.5.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: diff2rss
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    controllers:
      diff2rss:
        type: deployment
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 0
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: &context 1000
            runAsGroup: *context
            fsGroup: *context
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/chkpwd/diff2rss
              tag: v2.2.0
              pullPolicy: IfNotPresent
            env:
              TZ: "America/New_York"
              GITHUB_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: diff2rss
                    key: GITHUB_TOKEN
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 200Mi
    service:
      app:
        controller: diff2rss
        ports:
          http:
            port: 8000
    route:
      public:
        kind: HTTPRoute
        hostnames: ["{{ .Release.Name }}.chkpwd.com"]
        parentRefs:
          - name: public
            namespace: kube-system
            sectionName: https
