---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.5.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: your-spotify
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    controllers:
      server:
        enabled: true
        type: deployment
        strategy: &strategy RollingUpdate
        rollingUpdate: &rollingUpdate
          unavailable: 0
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: yooooomi/your_spotify_server
              tag: 1.17.0
              pullPolicy: IfNotPresent
            env:
              TIMEZONE: America/New_York
              API_ENDPOINT: &api_endpoint https://spotty.chkpwd.com/api
              CLIENT_ENDPOINT: https://spotty.chkpwd.com
              MONGO_ENDPOINT: mongodb://your-spotify-mongodb:27017/your_spotify
            envFrom:
              - secretRef:
                  name: your-spotify
            probes: &probes
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 550Mi
              limits:
                memory: 775Mi
      web:
        strategy: *strategy
        rollingUpdate: *rollingUpdate
        containers:
          app:
            image:
              repository: yooooomi/your_spotify_client
              tag: 1.17.0
            env:
              API_ENDPOINT: *api_endpoint
            probes: *probes
            securityContext: *securityContext
      mongodb:
        type: statefulset
        rollingUpdate: *rollingUpdate
        statefulset:
          podManagementPolicy: OrderedReady
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: "${VOLSYNC_CAPACITY}"
              storageClass: ceph-block
              dataSourceRef:
                kind: ReplicationDestination
                apiGroup: volsync.backube
                name: "${APP}"
              globalMounts:
                - path: /data/db
        containers:
          app:
            image:
              repository: docker.io/library/mongo
              tag: 6.0.4-focal
            probes: *probes
    service:
      server:
        controller: server
        primary: true
        ports:
          http:
            port: &serverPort 8080
      web:
        controller: web
        ports:
          http:
            port: &webPort 3000
      mongodb:
        controller: mongodb
        ports:
          http:
            port: 27017
    route:
      public:
        hostnames: ["spotty.chkpwd.com"]
        parentRefs:
          - name: public
            namespace: kube-system
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: "/api"
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: "/"
            backendRefs:
              - identifier: server
                port: *serverPort
          - matches:
              - path:
                  type: PathPrefix
                  value: "/"
            backendRefs:
              - identifier: web
                port: *webPort
