---
- name: Converge
  hosts: all
  vars:
    docker_edition: 'ce'
    docker_package_state: latest

  pre_tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 600
      when: ansible_os_family == 'Debian'
      become: true

    - name: Wait for systemd to complete initialisation # noqa 303
      ansible.builtin.command: systemctl is-system-running
      register: systemctl_status
      until: >
        'running' in systemctl_status.stdout or
        'degraded' in systemctl_status.stdout
      retries: 30
      delay: 5
      when: ansible_service_mgr == 'systemd'
      changed_when: false
      failed_when: systemctl_status.rc > 1
      become: true

    - debug: var=systemctl_status

    # - name: Install Docker
    #   ansible.builtin.include_role:
    #     name: geerlingguy.docker

  roles:
    - { role: code-server }
