---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: flux-manifests
  namespace: flux-system
spec:
  interval: 10m
  url: oci://ghcr.io/fluxcd/flux-manifests
  ref:
    tag: v2.1.1
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux
  namespace: flux-system
spec:
  interval: 10m
  path: ./
  prune: true
  wait: true
  sourceRef:
    kind: OCIRepository
    name: flux-manifests
  patches:
    # This patch adds helm caching options to the source-controller Deployment.
    - patch: |
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --helm-cache-max-size=10
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --helm-cache-ttl=60m
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --helm-cache-purge-interval=5m
      target:
        kind: Deployment
        name: source-controller
    # This patch enables OOM watch feature for the helm-controller Deployment.
    - patch: |
        # Enable OOM watch feature
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --feature-gates=OOMWatch=true
        # Threshold at which to trigger a graceful shutdown (optional, default 95%)
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --oom-watch-memory-threshold=95
        # Interval at which to check memory usage (optional, default 500ms)
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --oom-watch-interval=500ms
      target:
        kind: Deployment
        name: helm-controller
    # This patch adds more fine-tuned control of the Kubernetes API server for the specified controllers.
    - patch: |
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --concurrent=10
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --kube-api-qps=500
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --kube-api-burst=1000
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --requeue-dependency=5s
      target:
        kind: Deployment
        name: "(kustomize-controller|helm-controller|source-controller)"
    # Enable drift detection for HelmReleases and set the log level to debug
    # https://fluxcd.io/flux/components/helm/helmreleases/#drift-detection
    - patch: |
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --feature-gates=DetectDrift=true,CorrectDrift=false
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --log-level=debug
      target:
        kind: Deployment
        name: helm-controller
    # This patch increases the CPU and memory limits of the specified controllers.
    - patch: |
        apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: all
        spec:
          template:
            spec:
              containers:
                - name: manager
                  resources:
                    limits:
                      cpu: 2000m
                      memory: 2Gi
      target:
        kind: Deployment
        name: "(kustomize-controller|helm-controller|source-controller)"
