# Secrets env variables
export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/keys.txt)
export BWS_ACCESS_TOKEN=$(< ~/.config/chezmoi/chezmoi.yml yq -r '.data.accessToken')
export BWS_CACHE_URL=http://mgmt-srv-01:5000
