# Python
**/.venv
**/__pycache__/

# Shell
**/.direnv
/.task/

# Packer
**/secrets.auto.pkrvars.hcl

# Terraform
terraform/*.tfstate*
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
terraform/bws-lookup.log

# Ansible
.fact_cache/
ansible/.dependencies/
**/.pkrtpl.hcl
**/tf.log

# MacOS
.DS_STORE
