.fact_cache/
terraform/vsphere/.terraform.lock.hcl
terraform/vsphere/secrets.auto.tfvars
terraform/vsphere/terraform.tfstate
packer/pkr-deb-11-cloud-init/secrets.pkrvars.hcl
ansible/secrets
re
sys
.terraform/
packer/pkr-deb-11-cloud-init/secrets.auto.pkrvars.hcl
