packer/pkr-deb-11-cloud-init/secrets.auto.pkrvars.hcl
ansible/roles/code-server/templates
terraform/vsphere/secrets.auto.tfvars
terraform/proxmox/secrets.auto.tfvars
terraform/vultr/secrets.auto.tfvars
ansible/roles/cloudflare
terraform/vsphere/.terraform
ansible/vault-password
terraform/vultr/
.fact_cache/
.terraform/
pulumi/
re
sys
