---
fail_fast: false
exclude: |
  (?x)^(
    | .*\.sops\.toml
  )$
repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/JoC0de/pre-commit-prettier
    rev: "v3.7.4"
    hooks:
      - id: prettier
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: "v1.104.0"
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: https://github.com/adrienverge/yamllint
    rev: "v1.37.1"
    hooks:
      - id: yamllint
        args:
          - -c
          - ".yamllint.yml"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: "v1.5.5"
    hooks:
      - id: forbid-crlf
      - id: forbid-tabs
  - repo: https://github.com/sirosen/fix-smartquotes
    rev: "0.2.0"
    hooks:
      - id: fix-smartquotes
  - repo: https://github.com/k8s-at-home/sops-pre-commit
    rev: "v2.1.1"
    hooks:
      - id: forbid-secrets
