---
yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

extends: default

rules:
  comments:
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 0
  line-length:
    max: 80
    level: warning
  comments-indentation: disable
  indentation:
    indent-sequences: true
