---
# Set the user
common_user_uid: 1000
# Docker Configurations
docker_users: "{{ common_user }}"
docker_daemon_options:
  data-root: /mnt/data/docker
common_env: &common_env
  TZ: America/New_York
  PUID: "1000"
  PGID: "1000"
service_definitions:
  - name: wireguard
    image: lscr.io/linuxserver/wireguard:1.0.20250521
    capabilities:
      - net_admin # Allows modifications of net utils
      # - sys_module # No longer needed if host loads the modules already
    env: "{{ common_env }}"
    ports: ["8080:8080"]
    volumes:
      - "{{ configuration_path }}/wireguard:/config"
      - /lib/modules:/lib/modules
    sysctls:
      net.ipv4.conf.all.src_valid_mark: 1
    networks:
      - name: net_swag
  - name: gatus
    image: twinproduction/gatus:v5.34.0
    volumes:
      - "{{ configuration_path }}/gatus:/config"
    network_mode: container:wireguard
  - name: swag
    image: lscr.io/linuxserver/swag:5.3.1
    ports:
      - 443:443
      - 80:80
    env:
      <<: *common_env
      URL: chkpwd.com
      SUBDOMAINS: wildcard
      VALIDATION: dns
      DNSPLUGIN: cloudflare
      EMAIL: "{{ lookup('ripplefcl.bwscache.secret', 'common-secrets').value.primary_email_address }}"
      STAGING: "false"
      DOCKER_MODS: linuxserver/mods:swag-auto-reload
    volumes:
      - "{{ configuration_path }}/swag:/config"
    networks:
      - name: net_swag
