---
common_user: chkpwd
ansible_user: chkpwd
docker_users: "{{ common_user }}"
docker_daemon_options:
  data-root: /mnt/data/docker
service_definitions:
  - name: nginx_webserver
    image: nginx:1.25.4-alpine3.18-slim
    ports:
      - 8081:80
    volumes:
      - "{{ compose_configuration_path }}/nginx_webserver/default.conf:/etc/nginx/conf.d/default.conf:ro"
      - "{{ compose_configuration_path }}/nginx_webserver/files:/files"
    state: stopped
  - name: apprise
    image: caronc/apprise:1.2.6
    env:
      APPRISE_STATEFUL_MODE: simple
      APPRISE_DEFAULT_THEME: dark
      APPRISE_WEBHOOK_URL: "{{ lookup('ripplefcl.bwscache.secret', 'infra-apprise-secrets').value.discord_webhook_url }}"
      LOG_LEVEL: info
      PGID: "1000"
      PUID: "1000"
    ports:
      - 8000:8000
    volumes:
      - "{{ compose_configuration_path }}/apprise:/config"
      - "{{ compose_configuration_path }}/apprise/plugin:/plugin"
      - "{{ compose_configuration_path }}/apprise/attach:/attach"
    state: stopped
  - name: netbootxyz
    image: ghcr.io/netbootxyz/netbootxyz:0.7.6-nbxyz2
    env:
      MENU_VERSION: 2.0.73
    ports:
      - 3001:3000
      - 69:69/udp
    volumes:
      - "{{ compose_configuration_path }}/netbootxyz:/config"
      - "{{ compose_configuration_path }}/netbootxyz/data:/assets"
    state: stopped
  - name: apex-legends-exporter
    image: ghcr.io/chkpwd/apex-legends-exporter:v2.2.1
    env:
      USER_ID: "2848619454"
      PLATFORM: PC
      API_KEY: "{{ lookup('ripplefcl.bwscache.secret', 'public-api-apex-legends-key').value }}"
    ports: ["5050:5000"]
    state: stopped
  - name: opnsense-exporter
    image: ghcr.io/athennamind/opnsense-exporter:0.0.11
    command:
      - --opnsense.protocol=http
      - --opnsense.address=10.0.10.1
      - --exporter.instance-label=mgmt_srv_01
      - --web.listen-address=:8080
      - --web.disable-exporter-metrics
      - --exporter.disable-openvpn
    env:
      OPNSENSE_EXPORTER_OPS_API_KEY: "{{ lookup('ripplefcl.bwscache.secret', 'infra-network-secrets').value.opnsense_exporter_api_key }}"
      OPNSENSE_EXPORTER_OPS_API_SECRET: "{{ lookup('ripplefcl.bwscache.secret', 'infra-network-secrets').value.opnsense_exporter_api_secret }}"
    ports: ["8080:8080"]
  - name: scanservjs
    image: sbs20/scanservjs:v3.0.4
    ports:
      - 8087:8080
    env:
      DEVICES: "airscan:e0:Epson ET-2850;escl:https://10.0.30.8:443"
      PAPERLESS_URL: "https://paperless-ngx.{{ domain }}"
      PAPERLESS_API_TOKEN: "{{ lookup('ripplefcl.bwscache.secret', 'ns-tools-paperless-ngx').value.token }}"
      PAPERLESS_DELETE_AFTER_UPLOAD: "true"
    volumes:
      - "{{ compose_configuration_path }}/scanservjs/output:/var/lib/scanservjs/output"
      - "{{ compose_configuration_path }}/scanservjs:/etc/scanservjs"
    networks:
      - name: "proxy"
    labels:
      traefik.enable: "true"
      traefik.http.routers.scanservjs.rule: "Host(`scan.chkpwd.com`)"
      traefik.http.routers.scanservjs.entrypoints: "https"
      traefik.http.services.scanservjs.loadbalancer.server.port: "8080"
      traefik.http.routers.scanservjs.tls: "true"
      traefik.http.routers.scanservjs.tls.certresolver: cloudflare
      traefik.http.routers.scanservjs.tls.domains[0].main: chkpwd.com
      traefik.http.routers.scanservjs.tls.domains[0].sans: "*.chkpwd.com"
  - name: twingate
    image: twingate/connector:1.83.0
    sysctls:
      net.ipv4.ping_group_range: "0 2147483647"
    env:
      TWINGATE_NETWORK: "chkpwd"
      TWINGATE_ACCESS_TOKEN: "{{ lookup('ripplefcl.bwscache.secret', 'infra-twingate-secrets').value.twingate_access_token }}"
      TWINGATE_REFRESH_TOKEN: "{{ lookup('ripplefcl.bwscache.secret', 'infra-twingate-secrets').value.twingate_refresh_token }}"
      TWINGATE_DNS: "10.0.10.4"
      TWINGATE_LABEL_HOSTNAME: "`hostname`"
      TWINGATE_LABEL_DEPLOYED_BY: "docker"
    state: stopped
  - name: dyrne
    image: ghcr.io/overengineers-anonymous/dyrne
    ports: ["5001:5000"]
  - name: bws-cache
    image: ghcr.io/ripplefcl/bws-cache:v3.2.2
    env:
      PARSE_SECRET_VALUES: "true"
      LOG_LEVEL: "warning"
      ENABLE_TELEMETRY: "true"
      SENTRY_ENVIRONMENT: "chkpwd"
    ports: ["5000:5000"]
