---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dragonfly-operator
spec:
  interval: 15m
  chart:
    spec:
      chart: dragonfly-operator
      version: v1.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: dragonfly
  values:
    serviceMonitor:
      enabled: false
    podSecurityContext:
      fsGroup: 2000
    securityContext:
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 1000
