---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app freshrss
  namespace: tools
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:
    global:
      nameOverride: *app

    image:
      repository: freshrss/freshrss
      tag: 1.21.0

    env:
      TZ: "America/New_York"
      DOMAIN: &host "{{ .Release.Name }}.${LOCAL_DOMAIN}"

    hostname: *app

    service:
      main:
        ports:
          http:
            port: 80

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "freshrss"
          gethomepage.dev/group: "Media Automation"
          gethomepage.dev/icon: "freshrss"
          gethomepage.dev/description: "RSS Feeds Manager"
          gethomepage.dev/widget.type: "freshrss"
          gethomepage.dev/widget.url: "http://freshrss.tools.svc.cluster.local"
          gethomepage.dev/widget.username: "admin"
          gethomepage.dev/widget.password: ${APPS_PWD_FRESHRSS}
        hosts:
          - host: *host
            paths:
              - path: /
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        mountPath: /var/www/FreshRSS/data
        existingClaim: freshrss-config

    resources:
      requests:
        cpu: 100m
        memory: 200Mi
      limits:
        memory: 256Mi
