---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app authentik
  namespace: &ns security
  annotations:
    chkpwd.com/gitops-hr-defaults: "disable"
spec:
  targetNamespace: *ns
  path: ./kubernetes/apps/authentik/
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../core/flux-instance/components/
    - ../../core/crunchydata-pgo/components/
  postBuild:
    substitute:
      APP: *app
      POSTGRES_DATA_SIZE: 1Gi
  patches:
    - patch: |
        - op: add
          path: "/metadata/annotations/postgres-operator.crunchydata.com~1authorizeBackupRemoval"
          value: "true"
      target:
        kind: PostgresCluster
    - patch: |
        - op: remove
          path: /spec/backups
      target:
        kind: PostgresCluster
    - patch: |
        - op: remove
          path: /spec/dataSource
      target:
        kind: PostgresCluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: chkpwd-ops
    namespace: flux-system
  wait: false
  interval: 30m
