---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 15m
  chart:
    spec:
      chart: authentik
      version: 2026.2.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: authentik
  values:
    global:
      podAnnotations:
        reloader.stakater.com/auto: "true"
      env:
        - name: AUTHENTIK_POSTGRESQL__HOST
          valueFrom:
            secretKeyRef:
              name: authentik-pguser-authentik
              key: host
        - name: AUTHENTIK_POSTGRESQL__NAME
          valueFrom:
            secretKeyRef:
              name: authentik-pguser-authentik
              key: dbname
        - name: AUTHENTIK_POSTGRESQL__USER
          valueFrom:
            secretKeyRef:
              name: authentik-pguser-authentik
              key: user
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik-pguser-authentik
              key: password
        - name: AUTHENTIK_POSTGRESQL__PORT
          valueFrom:
            secretKeyRef:
              name: authentik-pguser-authentik
              key: port
        - name: AUTHENTIK_EMAIL__USERNAME
          valueFrom:
            secretKeyRef:
              name: authentik-config
              key: email_address
        - name: AUTHENTIK_EMAIL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik-config
              key: app_password
        - name: AUTHENTIK_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: authentik-config
              key: secret_key
        - name: AUTHENTIK_BOOTSTRAP_PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik-config
              key: bootstrap_password
        - name: AUTHENTIK_BOOTSTRAP_TOKEN
          valueFrom:
            secretKeyRef:
              name: authentik-config
              key: bootstrap_token
        - name: AUTHENTIK_BOOTSTRAP_EMAIL
          valueFrom:
            secretKeyRef:
              name: authentik-config
              key: bootstrap_email
        - name: AUTHENTIK_POSTGRESQL__SSLMODE
          value: require
    server:
      name: server
      replicas: 1
      pdb:
        # -- Deploy a [PodDistrubtionBudget] for the authentik server
        enabled: false
      route:
        main:
          enabled: true
          kind: HTTPRoute
          hostnames: ["authentik.chkpwd.com"]
          parentRefs:
            - name: public
              namespace: kube-system
              sectionName: https
          matches:
            - path:
                type: PathPrefix
                value: "{{ .Values.authentik.web.path }}"
          httpsRedirect: false
          https: false
      metrics:
        serviceMonitor:
          enabled: true
      resources:
        requests:
          cpu: 200m
        limits:
          cpu: "2"
    worker:
      replicas: 1
      pdb:
        # -- Deploy a [PodDistrubtionBudget] for the authentik server
        enabled: false
      resources:
        requests:
          cpu: 11m
          memory: 604Mi
        limits:
          memory: 629Mi
    serviceAccount:
      # -- Create service account. Needed for managed outposts
      create: true
    authentik:
      log_level: info
      error_reporting:
        enabled: true
      email:
        from: "authentik <ocid@chkpwd.com>"
        host: smtp.gmail.com
        port: 465
        use_ssl: false
    prometheus:
      rules:
        enabled: false
    postgresql:
      enabled: false
