---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gravity-external-dns
spec:
  interval: 15m
  chart:
    spec:
      chart: external-dns
      interval: 30m
      version: 1.16.1
      sourceRef:
        kind: HelmRepository
        name: external-dns
  values:
    fullnameOverride: gravity-external-dns
    logLevel: debug
    podSecurityContext:
      fsGroup: 65534
    securityContext:
      runAsNonRoot: true
      runAsUser: 65534
      readOnlyRootFilesystem: true
      capabilities:
        drop: ["ALL"]
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/beryju/gravity-external-dns
          tag: 0b16736ff9f95422a5ab1596afa3d7210b6252a9
        env:
          - name: GRAVITY_URL
            value: http://mgmt-srv-01.chkpwd.com:8008/
          - name: GRAVITY_TOKEN
            valueFrom:
              secretKeyRef:
                name: gravity-external-dns
                key: gravity-token
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        resources:
          requests:
            memory: 20Mi
            cpu: 10m
          limits:
            memory: 100Mi
    extraArgs:
      - --gateway-name=private
      # - "--txt-prefix=reg-%{record_type}-"
    sources: ["crd", "gateway-httproute"]
    policy: upsert-only
    registry: noop
    domainFilter: ["chkpwd.com"]
    serviceMonitor:
      enabled: false
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 300Mi
