---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app tautulli
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:
    global:
      nameOverride: *app

    image:
      repository: ghcr.io/onedr0p/tautulli
      tag: 2.12.4

    env:
      TZ: "America/New_York"
      LOG_LEVEL: info
      PORT: &port 8181

    hostname: *app

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Tautulli"
          gethomepage.dev/group: "Media Automation"
          gethomepage.dev/icon: "tautulli"
          gethomepage.dev/description: "Media and activity statistics monitoring tool"
          gethomepage.dev/widget.type: "tautulli"
          gethomepage.dev/widget.url: "http://tautulli.media.svc.cluster.local"
          gethomepage.dev/widget.key: "${API_KEY_TAUTULLI}"
        hosts:
          - host: &host "{{ .Release.Name }}.${LOCAL_DOMAIN}"
            paths:
              - path: /
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: tautulli-config

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups: [65534]

    resources:
      requests:
        cpu: 100m
        memory: 200Mi
      limits:
        memory: 350Mi
