---
- name: "Checking for user: {{ ansible_user }}"
  ansible.windows.win_user:
    name: "{{ ansible_user }}"
    password: "{{ lookup('ripplefcl.bwscache.secret', 'common-secrets').value.common_password }}"
    state: present
    password_never_expires: true
    groups:
      - Administrators
- name: Add users to remote interactive login rights
  ansible.windows.win_user_right:
    name: SeRemoteInteractiveLogonRight
    users: "{{ ansible_user }}"
