---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app ark-cluster
  namespace: game-servers
spec:
  interval: 15m
  chart:
    spec:
      chart: ark-cluster
      version: 0.1.14
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: ark-cluster
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    fullnameOverride: *app

    commonAnnotations:
      metallb.universe.tf/loadBalancerIPs: ${ARK_CLUSTER_LB_ADDRESS}

    image:
      repository: drpsychick/arkserver
      tag: latest-v1.6.62
      pullPolicy: IfNotPresent

    updateStrategy:
      type: Recreate

    # Time for the server to shutdown gracefully
    terminationGracePeriodSeconds: 60

    # Defaults to 1, we set this to 0 so servers don't start automatically after deploy
    replicaCount: 1

    hostNetwork: false
    hostPort: false
    
    clusterName: *app

    mods: []

    # Set RCON password for the whole cluster
    rcon:
      password: ${GLOBAL_ARK_CLUSTER_RCON_PWD}

    # Global extraEnvVars for all servers
    extraEnvVars:
      - name: am_ark_ServerPVE
        value: 'True'
      - name: am_arkopt_DisableStructureDecayPvE
        value: 'True'
      - name: am_arkopt_AllowFlyerCarryPvE
        value: 'True'
      - name: am_arkopt_ForceAllowCaveFlyers
        value: 'True'
      - name: am_arkopt_OverrideStructurePlatformPrevention
        value: 'True'

    # Servers in the ARK cluster
    servers:
      extinction:
        updateOnStart: true
        sessionName: "CHKPWD's Ark Server"
        message: "Welcome to Bryan's Ark Server - Map: Extinction"
        # map: TheIsland, Ragnarok, CrystalIsles, Aberration_P, ScorchedEarth_P, Extinction, ...
        map: Extinction
        password: "testing"
        maxPlayers: 10
        xpMultiplier: 6
        ports:
          queryudp: 27010
          gameudp: 7770
          rcon: 32330
        mods: []
        resources:
          requests:
            cpu: 1
            memory: 5Gi
          limits:
            memory: 10Gi
          GameUserSettingsIni: |
            [/Script/ShooterGame.ShooterGameUserSettings]
            Version=5
            AlwaysAllowStructurePickUp=True
            [ServerSettings]
            AllowFlyerCarryPvE=True
            AllowThirdPersonPlayer=True
            XPMultiplier={{ .server.xpMultiplier }}
            allowThirdPersonPlayer=1
            AllowCaveBuildingPvE=1
            alwaysNotifyPlayerJoined=1
            alwaysNotifyPlayerLeft=1
            bAllowFlyerCarryPvE=1
            bDisableStructureDecayPvE=1
            DinoCharacterHealthRecoveryMultiplier=2.00000
            DinoCharacterStaminaDrainMultiplier=0.50000
            DinoCharacterFoodDrainMultiplier=0.25
            HarvestAmountMultiplier=1.50000
            TamingSpeedMultiplier=8.00000
            DifficultyOffset=1.00000
            OverrideOfficialDifficulty=5.00000
            AllowAnyoneBabyImprintCuddle=1
            [AutoTrough]
            NoInventory=True
            [StructuresPlus]
            EnableEngramOverride=true
            AdditionalSupportDistanceInFoundations=10
            BunkBedCooldownTimeInSeconds=60
            AllowDynamicPillarNonFoundationSupport=True
            AllowDynamicPillarSupport=True
            [ArkAutomatedSettings]
            KitchenModActive=True
            [AwesomeSpyGlass]
            AllowStructureTargeting=False
            AllowOutline=False
          EngineIni: |
            # Extinction Engine.ini

    resources:
      requests:
        cpu: 1
        memory: 6Gi
      limits:
        memory: 8Gi

    # Default ports used by the container. Can be set per server.
    # ARK communicates ports to the client, so make sure the container port matches the external port!
    # Using these default settings for a cluster only makes sense if you have an IP for each server.
    containerPorts:
      gameudp: 7777
      queryudp: 27015
      rcon: 32330

    service:
      enabled: true
      externalTrafficPolicy: Local
      type: LoadBalancer
      metallb_shared_ip: false

    persistence:
      enabled: true
      game:
        accessModes:
          - ReadWriteMany
        size: 60Gi
        mountPath: /arkserver
        storageClass: longhorn-game-servers

      # shared cluster files
      cluster:
        accessModes:
          - ReadWriteMany
        size: 200Mi
        mountPath: /arkserver/ShooterGame/Saved/clusters
        storageClass: longhorn-game-servers

      save:
        accessModes:
          - ReadWriteOnce
        size: 2Gi
        mountPath: /arkserver/ShooterGame/Saved
        storageClass: longhorn-game-servers

    startupProbe:
      initialDelaySeconds: 120 # 120s + 60*10s = 720s max
      failureThreshold: 60
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 1
    livenessProbe:
      initialDelaySeconds: 10 # unhealthy after max 3*10s = 30s
      failureThreshold: 3
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 1

    podAnnotations:
      secret.reloader.stakater.com/reload: *app

    podSecurityContext:
      capabilities:
        drop:
          - ALL
        add:
          - CHOWN
          - NET_BIND_SERVICE
      readOnlyRootFilesystem: true
      runAsNonRoot: false
