---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app ytdl-sub
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    global:
      fullnameOverride: *app

    controllers:
      main:
        enabled: true
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"

        cronjob:
          concurrencyPolicy: Forbid
          schedule: '0 0 * * *'
          ttlSecondsAfterFinished: 86400
          startingDeadlineSeconds: 30
          successfulJobsHistory: 1
          failedJobsHistory: 1
          backoffLimit: 6

        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: &user 1026
            runAsGroup: &group 100
            fsGroup: *group
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          main:
            image:
              repository: ghcr.io/jmbannon/ytdl-sub
              tag: 2023.10.25.post3 
              pullPolicy: IfNotPresent

            command:
              - bash
              - -c
              - |
                set -e
                ytdl-sub --log-level=debug \
                        --config=/config/config.yaml \
                        sub /config/subscriptions.yaml

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL

            env:
              TZ: "${TZ}"
              PUID: *user
              PGID: *group
              MEDIA_FOLDER: /media/youtube

            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 2000Mi

    service:
      main:
        enabled: false

    ingress:
      main:
        enabled: false

    persistence:
      config:
        enabled: true
        name: "{{ .Release.Name }}-config"
        type: configMap
        defaultMode: 0755
        globalMounts:
          - path: /config
            readOnly: true
      media:
        enabled: true
        type: nfs
        server: "nas-srv-01.${LOCAL_DOMAIN}"
        path: /volume1/vault-01/media/youtube
        advancedMounts:
          main:
            main:
              - path: /media/youtube
      tmp:
        enabled: true
        type: emptyDir
        path: /tmp/ytdl-sub
