---
# yamllint disable rule:indentation
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/clusterexternalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: cloudflare-id
spec:
  refreshTime: 15m
  namespaceSelectors:
    - matchExpressions:
        - {
            key: kubernetes.io/metadata.name,
            operator: In,
            values: [tools, security, media],
          }
  externalSecretSpec:
    secretStoreRef:
      name: bitwarden-secrets-manager
      kind: ClusterSecretStore
    refreshInterval: "1h"
    target:
      name: cloudflare-id
      template:
        data:
          CLOUDFLARE_ACCOUNT_ID: "{{ .account_id }}"
    dataFrom:
      - extract:
          key: cloudflare-dns-secrets
