---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-secrets
spec:
  interval: 15m
  chart:
    spec:
      chart: *app
      interval: 30m
      version: 1.2.1
      sourceRef:
        kind: HelmRepository
        name: *app
  valuesFrom:
    - kind: ConfigMap
      name: external-secrets-values
