---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tools-freshrss
  namespace: flux-system
spec:
  dependsOn:
    - name: tools-freshrss-config
  path: ./kubernetes/apps/tools/freshrss/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tools-freshrss-config
  namespace: flux-system
spec:
  path: ./kubernetes/apps/tools/freshrss/config
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  retryInterval: 1m
  timeout: 5m
