---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: crunchy-postgres-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: pgo
      version: 6.0.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: crunchydata
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
