---
semaphore_container:
  - name: semaphore
    image: semaphoreui/semaphore:v2.17.14
    user: 1001:1001
    env:
      SEMAPHORE_DB_DIALECT: bolt
      SEMAPHORE_ADMIN: &name chkpwd
      SEMAPHORE_ADMIN_NAME: *name
      SEMAPHORE_ADMIN_PASSWORD: "{{ lookup('ripplefcl.bwscache.secret', 'infra-semaphore-secrets').value.admin_password }}"
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: "{{ lookup('ripplefcl.bwscache.secret', 'infra-semaphore-secrets').value.access_key_encryption }}"
      SEMAPHORE_PASSWORD_LOGIN_DISABLED: "false"
      SEMAPHORE_WEB_ROOT: "/"
      ANSIBLE_HOST_KEY_CHECKING: "False"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ configuration_path }}/semaphore/db:/var/lib/semaphore"
      - "{{ configuration_path }}/semaphore/config:/etc/semaphore"
      - "{{ configuration_path }}/semaphore/tmp:/tmp/semaphore"
    ports: ["3005:3000"]
# semaphore_oidc_config: # https://github.com/semaphoreui/semaphore/issues/2994
#   oidc_providers:
#     authentik:
#       display_name: "Sign in with SSO"
#       provider_url: "https://authentik.chkpwd.com/application/o/semaphore-ui/"
#       client_id: "semaphore"
#       client_secret: "{{ lookup('ripplefcl.bwscache.secret', 'infra-semaphore-secrets').value.oauth_client_secret }}"
#       redirect_url: "https://semaphore.chkpwd.com/api/auth/oidc/authentik/redirect"
#       scopes:
#         - "email"
#         - "openid"
#         - "profile"
#       username_claim: "username"
#       name_claim: "name"
#       email_claim: "email"
