---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: staging
  namespace: networking
spec:
  secretName: chkpwd-cert-staging
  dnsNames:
    - "chkpwd.com"
    - "*.chkpwd.com"
    - "*.k8s.chkpwd.com"
    - "*.local.chkpwd.com" # Wildcard doesn't recurse
  issuerRef:
    name: letsencrypt-staging
    kind: ClusterIssuer
