[General]
  snippetfile = "/home/hyoga/.config/pet/snippet.toml"
  editor = "sensible-editor"
  column = 40
  selectcmd = "fzf --ansi"
  backend = "gist"
  sortby = ""

[Gist]
  file_name = "snippet.toml"
  access_token = "{{ GIST_TOKEN }}"
  gist_id = "{{ GIST_ID }}"
  public = true
  auto_sync = true