---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-3.1.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: autocaliweb
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    global:
      fullnameOverride: autocaliweb
    controllers:
      autocaliweb:
        enabled: true
        type: statefulset
        replicas: 1
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: "${VOLSYNC_CAPACITY}"
              storageClass: ceph-block
              dataSourceRef:
                kind: ReplicationDestination
                apiGroup: volsync.backube
                name: "${APP}"
              globalMounts:
                - path: /config
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: &group 1000
            fsGroup: *group
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: gelbphoenix/autocaliweb:v0.10.4
              tag: v0.2.3
              pullPolicy: IfNotPresent
            env:
              TZ: "America/New_York"
              PGUID: "1000"
              PUID: "1000"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /request/api/status
                    port: &port 8083
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 150Mi
              limits:
                memory: 500Mi
    service:
      app:
        controller: autocaliweb
        ports:
          http:
            port: *port
    route:
      private:
        enabled: true
        kind: HTTPRoute
        hostnames: ["{{ .Release.Name }}.chkpwd.com"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: autocaliweb
                port: *port
        parentRefs:
          - name: private
            namespace: kube-system
            sectionName: https
    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
      books:
        enabled: true
        accessMode: ReadWriteOnce
        type: persistentVolumeClaim
        size: 5Gi
        storageClass: ceph-block
        globalMounts:
          - path: /calibre-library
      # ingest:
      #   enabled: true
      #   type: nfs
      #   server: "nas-srv-01.chkpwd.com"
      #   path: /volume1/vault-01/static_media/books/ingest
      #   globalMounts:
      #     - path: /acw-book-ingest
