---
mimir_base_path: "{{ configuration_path }}/mimir"
mimir_lb_base_path: "{{ configuration_path }}/mimir-lb"
mimir_containers:
  - name: mimir
    image: grafana/mimir:3.0.3
    command: [-config.file=/etc/mimir/mimir.yml]
    volumes:
      - "{{ mimir_base_path }}/mimir.yml:/etc/mimir/mimir.yml:ro"
    state: started
  - name: mimir-lb
    image: nginx:alpine
    volumes:
      - "{{ mimir_lb_base_path }}/nginx.conf:/etc/nginx/nginx.conf"
      - "{{ mimir_lb_base_path }}/.htpasswd:/etc/nginx/.htpasswd"
    ports: ["{{ mimir_lb_port ~ ':' ~ mimir_lb_port }}"]
    state: started
mimir_lb_user: mimir
mimir_lb_port: 9009
mimir_s3_endpoint: s3.{{ domain }}
mimir_s3_access_key: ""
mimir_s3_secret_key: ""
mimir_s3_blocks_bucket: mimir-blocks
mimir_s3_ruler_bucket: mimir-ruler
