---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app immich
  namespace: tools
spec:
  interval: 15m
  chart:
    spec:
      chart: immich
      version: 0.1.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: immich
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      tag: &appVersion v1.79.1

    postgres:
      enabled: false

    redis:
      image:
        tag: 7.0.11-debian-11-r18
      enabled: true
      architecture: standalone
      auth:
        enabled: false
      persistence:
        enabled: false  # Disable PVC persistence
        medium: ""  # Specify the medium for emptyDir (can be "" or "Memory")
        sizeLimit: "8Gi"  # Optional: set a size limit for the emptyDir volume
        path: /data
      resources:
        requests:
          cpu: 5m
          memory: 10Mi
        limits:
          memory: 10Mi

    typesense:
      enabled: false
      image:
        repository: docker.io/typesense/typesense
        tag: 0.25.1
        pullPolicy: &pullPolicy IfNotPresent
      env:
        TYPESENSE_API_KEY:
          valueFrom:
            secretKeyRef:
              name: immich-secret
              key: TYPESENSE_API_KEY
      persistence:
        tsdata:
          enabled: true
          type: emptyDir
      resources:
        requests:
          cpu: 5m
          memory: 315M
        limits:
          memory: 1443M

    immich:
      persistence:
        library:
          existingClaim: immich-pvc

    server:
      enabled: true
      image:
        repository: ghcr.io/immich-app/immich-server
        tag: *appVersion
        pullPolicy: *pullPolicy
      resources:
        requests:
          cpu: 20m
          memory: 600Mi

    microservices:
      enabled: true
      controller:
        replicas: 2
      persistence:
        geodata-cache:
          enabled: true
          size: 1Gi
          type: emptyDir
          accessMode: ReadWriteMany
      resources:
        requests:
          cpu: 5m
          memory: 277Mi
        limits:
          memory: 512Mi

    machine-learning:
      enabled: false
      image:
        repository: ghcr.io/immich-app/immich-machine-learning
        tag: *appVersion
        pullPolicy: *pullPolicy
      env:
        TRANSFORMERS_CACHE: /cache
      persistence:
        cache:
          enabled: true
          size: 10Gi
          type: emptyDir
          accessMode: ReadWriteMany
      probes:
        liveness:
          spec:
            initialDelaySeconds: 60
      resources:
        requests:
          cpu: 512m
          memory: 274Mi
        limits:
          memory: 2000Mi

    web:
      enabled: true
      image:
        repository: ghcr.io/immich-app/immich-web
        tag: *appVersion
        pullPolicy: *pullPolicy
      resources:
        requests:
          cpu: 15m
          memory: 105Mi

    proxy:
      ingress:
        main:
          enabled: true
          ingressClassName: ext-ingress
          annotations:
            external-dns.alpha.kubernetes.io/target: ${EXTERNAL_DOMAIN}
            nginx.ingress.kubernetes.io/proxy-body-size: "0"
          hosts:
            - host: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - *host
      resources:
        requests:
          cpu: 15m
          memory: 105Mi

    env:
      DB_DATABASE_NAME:
        valueFrom: 
          secretKeyRef:
            name: immich-pguser-immich
            key: dbname
      DB_HOSTNAME:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: host
      DB_USERNAME:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: user
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: password
      DB_URL:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: uri
      LOG_LEVEL: verbose
