---
apiVersion: v1
kind: Pod
metadata:
  name: wipe-rook
  labels:
    app.kubernetes.io/name: wipe-rook
spec:
  restartPolicy: Never
  nodeName: {{ ENV.NODE_NAME }}
  volumes:
    - name: rook-data-dir
      hostPath:
        path: {{ ENV.HOST_PATH }}
  containers:
    - name: disk-wipe
      image: busybox
      securityContext:
        privileged: true
      volumeMounts:
        - name: rook-data-dir
          mountPath: /node/rook-data
      command: ["/bin/sh", "-c"]
      args:
        - >
          rm -rf /node/rook-data/* &&
          dd if=/dev/zero bs=1M count=100 oflag=direct of={{ ENV.DEVICE }}
