---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-smb
spec:
  interval: 30m
  chart:
    spec:
      chart: csi-driver-smb
      version: 1.19.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: csi-driver-smb
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    driver:
      name: smb.csi.k8s.io
    feature:
      enableGetVolumeStats: true
      enableInlineVolume: true
    windows:
      enabled: false
