---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: k8s-gateway
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: k8s-gateway
      version: 2.1.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: k8s-gateway
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    fullnameOverride: k8s-gateway
    replicaCount: 2

    image:
      registry: quay.io
      repository: oriedge/k8s_gateway
      tag: v0.4.0

    service:
      type: LoadBalancer
      port: 53
      annotations:
        metallb.universe.tf/loadBalancerIPs: "${K8S_GATEWAY_LB_ADDRESS}"
      externalTrafficPolicy: Local
      loadBalancerIPs:
        - ${K8S_GATEWAY_LB_ADDRESS}

    domain: k8s.chkpwd.com

    watchedResources:
      - Ingress
      - Service

    ttl: 1
    
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 125Mi
