---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: bitwarden-secrets-manager
spec:
  provider:
    webhook:
      url: "http://mgmt-srv-01.${LOCAL_DOMAIN}:5000/key/{{ .remoteRef.key }}"
      headers:
        Authorization: Bearer {{ print .serviceaccount.token }}
      result:
        jsonPath: "$.value"
      secrets:
        - name: serviceaccount
          secretRef:
            name: bws-secrets
            namespace: security
