apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: storage
spec:
  interval: 5m
  chart:
    spec:
      chart: longhorn
      version: 1.6.0
      interval: 10m
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    ingress:
      enabled: true
      ingressClassName: int-ingress
      host: longhorn.${K8S_GATEWAY_DOMAIN}
      tls: true
      secureBackends: true
      tlsSecret: longhorn-tls
      path: /

    persistence:
      defaultClass: true
      defaultClassReplicaCount: 3
      reclaimPolicy: Retain
      recurringJobSelector:
        enable: false

    metrics: # This does nothing in this current release, hoping 1.6.x will fix it
      serviceMonitor:
        enabled: true

    defaultSettings:
      backupTarget: nfs://nas-srv-01.${LOCAL_DOMAIN}:/volume1/vault-01/backups/kubernetes/longhorn
      backupstorePollInterval: 60
      orphanAutoDeletion: true
      concurrentAutomaticEngineUpgradePerNodeLimit: 3
      defaultDataPath: /var/lib/longhorn
      defaultDataLocality: best-effort
      defaultLonghornStaticStorageClass: longhorn
      storageMinimalAvailablePercentage: 0
      storageReservedPercentageForDefaultDisk: 0
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      allowRecurringJobWhileVolumeDetached: false
      autoCleanupSystemGeneratedSnapshot: true
      autoDeletePodWhenVolumeDetachedUnexpectedly: true
      disableSchedulingOnCordonedNode: true
      defaultReplicaCount: 3
      engineReplicaTimeout: 8
      failedBackupTTL: 1440
      restoreVolumeRecurringJobs: true
      snapshotDataIntegrityImmediateCheckAfterSnapshotCreation: false
      snapshotDataIntegrityCronjob: 0 8 */7 * *
      upgradeChecker: false
      v2DataEngine: false
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: longhorn # Remove when new version is released
  namespace: storage
  labels:
    name: longhorn-servicemonitor
    serviceMonitorSelector: prometheus
spec:
  selector:
    matchLabels:
      app: longhorn-manager
  namespaceSelector:
    matchNames:
    - storage
  endpoints:
    - port: manager
