---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app it-tools
  namespace: tools
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    global:
      fullnameOverride: *app

    controllers:
      main:
        enabled: true
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1

        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: &context 1999
            runAsGroup: *context
            fsGroup: *context
            fsGroupChangePolicy: "OnRootMismatch"
            allowPrivilegeEscalation: false

        containers:
          main:
            image:
              repository: ghcr.io/corentinth/it-tools
              tag: 2023.8.16-9bd4ad4
              pullPolicy: IfNotPresent

            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
                add: ["NET_BIND_SERVICE"]

            resources:
              requests:
                cpu: 10m
                memory: 50M
              limits:
                memory: 50M

    service:
      main:
        ports:
          http:
            port: 80

    ingress:
      main:
        annotations:
          external-dns.alpha.kubernetes.io/target: ${EXTERNAL_DOMAIN}
        enabled: true
        className: ext-ingress
        hosts:
          - host: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        size: 1Mi
        globalMounts:
          - path: /var/cache/nginx
      nginx:
        enabled: true
        type: emptyDir
        medium: Memory
        size: 1Mi
        globalMounts:
          - path: /var/run
            subPath: nginx.pid
      logs:
        enabled: true
        type: emptyDir
        medium: Memory
        size: 1Mi
        globalMounts:
          - path: /var/log/nginx
