---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
spec:
  interval: 15m
  chart:
    spec:
      chart: reloader
      version: 2.2.7
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: stakater
  values:
    fullnameOverride: reloader
    resources:
      requests:
        cpu: 15m
        memory: 64M
      limits:
        cpu: 15m
        memory: 64M
