# Load parent environment
source_up

export PROXMOX_URL="https://10.0.10.3:8006/api2/json"
export PROXMOX_USERNAME='packer@pve!provider'
export PROXMOX_TOKEN="$(bws secret get 98217923-905c-4c89-9f79-b31e017dee25 | jq -r '.value' | cut -d ':' -f 2)"
