# For zsh shell, you need to hook the process; look in: https://direnv.net/docs/hook.html
# $ direnv allow
# ShellCheck disables linting ; due to the shell codes
#shellcheck disable=SC2148,SC2155

# Export Packer Password
export VCENTER_PASS=$(bw get item vCenter --session $(bw unlock --passwordfile "$HOME/.config/Bitwarden CLI/master-password.txt" --raw) | jq -r '.login.password')