---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app radarr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:
    global:
      nameOverride: *app
    image:
      repository: ghcr.io/onedr0p/radarr-develop
      tag: 4.5.2.7388

    env:
      TZ: "America/New_York"
      RADARR__INSTANCE_NAME: Radarr
      RADARR__PORT: &port 7878
      RADARR__APPLICATION_URL: "https://radarrk3s.local.chkpwd.com"
      RADARR__LOG_LEVEL: info
      RADARR__API_KEY: ${API_KEY_RADARR}
      RADARR__AUTHENTICATION_METHOD: Forms
      RADARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses

    hostname: radarr

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Radarr"
          gethomepage.dev/group: "Media Automation"
          gethomepage.dev/icon: "radarr"
          gethomepage.dev/description: "Movie automation tool."
          gethomepage.dev/widget.type: "radarr"
          gethomepage.dev/widget.url: "http://radarr.media.svc.cluster.local"
          gethomepage.dev/widget.key: "${API_KEY_RADARR}"
        hosts:
          - host: &host "radarrk3s.local.chkpwd.com"
            paths:
              - path: /
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: radarr-config
      media:
        enabled: true
        existingClaim: radarr-media
        mountPath: /data
        readOnly: false

    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups: [568]

    resources:
      requests:
        cpu: 100m
        memory: 250M
      limits:
        memory: 300M
