---
dns_service_definitions:
  - name: gravity
    image: "ghcr.io/beryju/gravity:25d922bec97919b565f10a5c1b6b987ad475fed2"
    hostname: "{{ inventory_hostname }}"
    ports:
      - 53:53/udp
      - 8008:8008/tcp
      - 8009:8009/tcp
    env:
      BOOTSTRAP_ROLES: dns;dhcp;api;etcd;backup;monitoring;tsdb
      DATA_PATH: /data
      LOG_LEVEL: info
      ADMIN_PASSWORD: "{{ lookup('ripplefcl.bwscache.secret', 'infra-gravity-secrets').value.admin_password }}"
      ADMIN_TOKEN: "{{ lookup('ripplefcl.bwscache.secret', 'infra-gravity-secrets').value.admin_token }}"
      # ETCD_JOIN_CLUSTER: "{{ lookup('ripplefcl.bwscache.secret', 'infra-gravity-secrets').value.etcd_join_token }},http://mgmt-srv-01.chkpwd.com:8008"
    volumes:
      - data:/data
    log_driver: json-file
    log_options:
      max-size: "10m"
      max-file: "3"
