http:
  routers:
    opnsense:
      entryPoints:
        - "https"
      rule: "Host(`opnsense.local.chkpwd.com`)"
      middlewares:
        - https-redirectscheme
      tls: {}
      service: opnsense
    code:
      entryPoints:
        - "https"
      rule: "Host(`code.local.chkpwd.com`)"
      middlewares:
        - https-redirectscheme
      tls: {}
      service: code

  services:
    opnsense:
      loadBalancer:
        servers:
          - url: "http://172.16.16.1"
        passHostHeader: true
    code:
      loadBalancer:
        servers:
          - url: "http://172.16.16.12:8080"
        passHostHeader: true

  middlewares:
    https-redirectscheme:
      redirectScheme:
        scheme: https