---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app miniflux
  namespace: tools
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    global:
      fullnameOverride: *app

    controllers:
      main:
        enabled: true
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1

        pod:
          enableServiceLinks: false

        containers:
          main:
            image:
              repository: ghcr.io/miniflux/miniflux
              tag: 2.0.49
              pullPolicy: IfNotPresent

            env:
              BASE_URL: https://miniflux.${EXTERNAL_DOMAIN}
              CREATE_ADMIN: "1"
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: miniflux-pguser-miniflux
                    key: uri
              DEBUG: "1"
              LOG_DATE_TIME: "1"
              RUN_MIGRATIONS: "1"
              METRICS_COLLECTOR: "1"
              METRICS_ALLOWED_NETWORKS: "10.42.0.0/16"
              POLLING_SCHEDULER: entry_frequency
              POLLING_FREQUENCY: "15"
              FETCH_YOUTUBE_WATCH_TIME: 1
              OAUTH2_PROVIDER: oidc
              OAUTH2_REDIRECT_URL: https://{{ .Release.Name }}.${EXTERNAL_DOMAIN}/oauth2/oidc/callback
              OAUTH2_OIDC_DISCOVERY_ENDPOINT: https://authentik.${EXTERNAL_DOMAIN}/application/o/miniflux/
              OAUTH2_USER_CREATION: "1"

            envFrom:
              - secretRef:
                  name: miniflux-secrets

            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 350Mi

    service:
      main:
        ports:
          http:
            port: 8080

    ingress:
      main:
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        enabled: true
        className: ext-ingress
        hosts:
          - host: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
