global:
  scrape_interval: 15s
  external_labels:
      monitor: 'dns-srv-01'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

    basic_auth:
      username: chkpwd
      password: "{{ USR_PASSWORD_SOPS }}"