global:
  scrape_interval: 15s
  external_labels:
      monitor: 'mgmt-srv-01'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

    basic_auth:
      username: chkpwd
      password: "{{ lookup('ripplefcl.bwscache.secret', 'common-secrets').value.common_password }}"

  - job_name: 'opnsense-builtin-exporter'
    scheme: http
    static_configs:
      - targets: ['10.0.10.1:9100']

  - job_name: 'opnsense-docker-exporter'
    scheme: http
    static_configs:
      - targets: ['10.0.10.4:8080']

  - job_name: 'apex-legends-exporter'
    scheme: http
    static_configs:
      - targets: ['10.0.10.4:5050']

  - job_name: 'exportarr-sonarr'
    scheme: https
    static_configs:
      - targets: ['sonarr.chkpwd.com']

  - job_name: 'exportarr-radarr'
    scheme: https
    static_configs:
      - targets: ['radarr.chkpwd.com']

  - job_name: 'exportarr-bazarr'
    scheme: https
    static_configs:
      - targets: ['bazarr.chkpwd.com']

  - job_name: 'exportarr-prowlarr'
    scheme: https
    static_configs:
      - targets: ['prowlarr.chkpwd.com']
