---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-sources
  namespace: flux-system
spec:
  targetNamespace: flux-system
  interval: 30m
  path: ./kubernetes/flux/sources
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: chkpwd-ops
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 10m0s
  dependsOn:
    - name: core
  path: ./kubernetes/apps
  prune: true
  sourceRef:
    kind: GitRepository
    name: chkpwd-ops
  timeout: 10m
  wait: false
  patches:
    - # Add Sops decryption to all Kustomizations
      patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: not-used
        spec:
          decryption:
            provider: sops
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
    - # Add default timings to all Kustomizations
      patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: not-used
        spec:
          retryInterval: 2m
          timeout: 10m
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
    - # Add HelmRelease defaults to all Kustomizations
      patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: not-used
        spec:
          patches:
            - patch: |-
                apiVersion: helm.toolkit.fluxcd.io/v2
                kind: HelmRelease
                metadata:
                  name: not-used
                spec:
                  driftDetection:
                    mode: enabled
                  install:
                    crds: CreateReplace
                    strategy:
                      name: RetryOnFailure
                  rollback:
                    cleanupOnFail: true
                    recreate: true
                  timeout: 10m
                  upgrade:
                    cleanupOnFail: true
                    crds: CreateReplace
                    strategy:
                      name: RemediateOnFailure
                    remediation:
                      remediateLastFailure: true
                      retries: 2
              target:
                group: helm.toolkit.fluxcd.io
                kind: HelmRelease
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
        annotationSelector: chkpwd.com/gitops-hr-defaults != disable
    - # Bootstrap PSQL cluster
      patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: not-used
        spec:
          patches:
            - patch: |-
                apiVersion: postgres-operator.crunchydata.com/v1beta1
                kind: PostgresCluster
                metadata:
                  name: not-used
                spec:
                  dataSource:
                    $patch: delete
              target:
                kind: PostgresCluster
      target:
        kind: Kustomization
        labelSelector: "components.postgres/cpgo=init"
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core
  namespace: flux-system
spec:
  interval: 10m0s
  dependsOn:
    - name: flux-sources
  path: ./kubernetes/core
  prune: true
  sourceRef:
    kind: GitRepository
    name: chkpwd-ops
  timeout: 10m
  wait: false
  patches:
    - # Add HelmRelease defaults to all Kustomizations
      patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: not-used
        spec:
          patches:
            - patch: |-
                apiVersion: helm.toolkit.fluxcd.io/v2
                kind: HelmRelease
                metadata:
                  name: not-used
                spec:
                  driftDetection:
                    mode: enabled
                  install:
                    crds: CreateReplace
                    strategy:
                      name: RetryOnFailure
                  rollback:
                    cleanupOnFail: true
                    recreate: true
                  timeout: 10m
                  upgrade:
                    cleanupOnFail: true
                    crds: CreateReplace
                    strategy:
                      name: RemediateOnFailure
                    remediation:
                      remediateLastFailure: true
                      retries: 2
              target:
                group: helm.toolkit.fluxcd.io
                kind: HelmRelease
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
        annotationSelector: chkpwd.com/gitops-hr-defaults != disable
