# systemd unit file
# place in /etc/systemd/system
# systemctl enable gotty.service
# systemctl start gotty.service

[Unit]
Description=Gotty Web Terminal
After=network.target

[Service]
User=okami
Group=okami

Environment=TERM=xterm-256color
ExecStart=/root/go/bin/gotty --title-format okami.dev --close-timeout 2 -w docker run -it --rm -m 32m --cpus=0.5 --read-only --hostname homepage --net none -u root okamidev

[Install]
WantedBy=multi-user.target
