source_up

export KASTEN_AWS_IAM_ROLE_ARN="$(terraform output -raw aws_iam_role_arn)"
export KASTEN_AWS_ACCESS_KEY_ID="$(terraform output -raw aws_access_key_id)"
export KASTEN_AWS_SECRET_ACCESS_KEY="$(terraform output -raw aws_secret_access_key)"
