---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: external-dns
  namespace: networking
spec:
  interval: 30m
  url: https://kubernetes-sigs.github.io/external-dns
  timeout: 3m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns-secret
  namespace: &ns networking
spec:
  targetNamespace: *ns
  path: ./kubernetes/core/external-dns/secrets
  interval: 1m
  prune: false
  wait: true
  sourceRef:
    kind: GitRepository
    name: chkpwd-ops
    namespace: flux-system
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app external-dns-cloudflare
  namespace: &ns networking
spec:
  targetNamespace: *ns
  path: ./kubernetes/core/external-dns/cloudflare
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cloudflare-external-dns
        optional: false
  prune: true
  sourceRef:
    kind: GitRepository
    name: chkpwd-ops
    namespace: flux-system
  wait: false
  interval: 30m
  dependsOn:
    - name: external-dns-secret
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns-gravity
  namespace: &ns networking
spec:
  targetNamespace: *ns
  path: ./kubernetes/core/external-dns/gravity
  commonMetadata:
    labels:
      app.kubernetes.io/name: external-dns
  prune: true
  sourceRef:
    kind: GitRepository
    name: chkpwd-ops
    namespace: flux-system
  wait: false
  interval: 30m
