- name: Check Docker Present
  ansible.builtin.stat:
    path: /usr/bin/docker
  register: docker_installed

- name: Mount NFS options only if Docker is present
  when: "'docker_hosts' in group_names and docker_installed.stat.exists"
  block:
    - name: Create the dest directory for the mount
      ansible.builtin.file:
        path: "{{ docker_confs_dir }}"
        state: directory
        owner: "{{ common_user }}"
        group: "{{ common_user }}"
        mode: '0755'

    - name: Mount NFS share from TrueNAS
      ansible.posix.mount:
        src: "{{ media_nfs_share }}:/mnt/data"
        path: "{{ media_path }}"
        opts: rw,sync,hard,nofail
        state: mounted
        fstype: nfs
      when: ansible_hostname == "mirage"

- name: Install parted
  ansible.builtin.apt:
    name: parted
    state: present

- name: Get Virtual Disks info
  community.general.parted:
    device: "/dev/{{ item }}"
    unit: MiB
  register: drive_info
  loop:
    - sda
    - sdb
  loop_control:
    label: "Disk Name: {{ item }}"

- name: Determine the largest drive and set the var
  ansible.builtin.set_fact:
    largest_drive: "{{ 'sda' if drive_info.results[0].disk.size | int > drive_info.results[1].disk.size | int else 'sdb' }}"

- name: Prepare secondary disk
  community.general.parted:
    device: "/dev/{{ largest_drive }}"
    number: 1
    name: data
    label: gpt
    state: present

- name: Create ext4 fs on partition
  community.general.filesystem:
    dev: "/dev/{{ largest_drive }}1"
    fstype: ext4
    state: present

- name: Gather Drives Facts
  ansible.builtin.setup:
    gather_subset:
      - devices 

- name: Mount device by UUID
  ansible.posix.mount:
    path: "{{ mount_dir }}"
    src: "UUID={{ ansible_facts['devices'][largest_drive]['partitions'][largest_drive + '1']['uuid'] }}"
    fstype: ext4
    opts: defaults
    passno: 2
    boot: true
    state: mounted

- name: Set permissions on mount
  ansible.builtin.file:
    path: "{{ mount_dir }}"
    owner: "{{ common_user }}"
    group: "{{ common_user }}"
    mode: '755'
    state: directory
