---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-problem-detector
spec:
  interval: 15m
  chart:
    spec:
      chart: node-problem-detector
      version: 2.3.14
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: deliveryhero
  values:
    image:
      repository: registry.k8s.io/node-problem-detector/node-problem-detector
      tag: v1.35.1
      pullPolicy: IfNotPresent
    fullnameOverride: node-problem-detector
    rbac:
      create: true
      pspEnabled: false
    volume:
      localtime:
        type: "FileOrCreate"
    priorityClassName: system-node-critical
    securityContext:
      privileged: true
    tolerations:
      - effect: NoSchedule
        operator: Exists
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
      prometheusRule:
        enabled: true
    updateStrategy: RollingUpdate
    maxUnavailable: 1
    resources:
      requests:
        cpu: 50m
        memory: 263Mi
      limits:
        memory: 512Mi
