---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app palworld-server
  namespace: game-servers
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    global:
      fullnameOverride: *app

    controllers:
      main:
        enabled: true
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"

        replicas: 1

        statefulset:
          volumeClaimTemplates:
            - name: data
              accessMode: ReadWriteOnce
              size: 60Gi
              storageClass: longhorn-game-servers
              globalMounts:
                - path: /palworld

        pod:
          enableServiceLinks: false

        containers:
          main:
            image:
              repository: thijsvanloef/palworld-server-docker
              tag: v0.19.1

            env:
              TZ: ${TZ}
              PORT: &server 8211
              PLAYERS: 16
              SERVER_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: palworld-server-secrets
                    key: SERVER_PASSWORD
              MULTITHREADING: false
              RCON_ENABLED: true
              RCON_PORT: &rcon 25575
              BACKUP_ENABLED: false
              ADMIN_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: palworld-server-secrets
                    key: ADMIN_PASSWORD
              COMMUNITY: true
              UPDATE_ON_BOOT: true
              # Server Settings Variables
              PAL_EGG_DEFAULT_HATCHING_TIME: "10.000000"
              DEATH_PENALTY: "Item"
              ENABLE_PLAYER_TO_PLAYER_DAMAGE: "True"
              ENABLE_FRIENDLY_FIRE: "True"
              IS_PVP: "True"

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                    - bash
                    - -c
                    - 'pgrep "PalServer-Linux" > /dev/null || exit 1'
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false

            resources:
              requests:
                cpu: 500m
                memory: 500Mi
              limits:
                memory: 16Gi

    service:
      main:
        annotations:
          metallb.universe.tf/loadBalancerIPs: ${PALWORLD_LB_ADDRESS}
        type: LoadBalancer
        externalTrafficPolicy: Local
        ports:
          http:
            enabled: false
          server:
            port: *server
            protocol: UDP
          rcon:
            port: *rcon
            protocol: TCP

    ingress:
      main:
        enabled: false
