---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: &app fstrim
  labels:
    app.kubernetes.io/name: *app
spec:
  schedule: "@weekly"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      parallelism: 3
      backoffLimit: 6
      template:
        metadata:
          labels:
            app.kubernetes.io/name: *app
        spec:
          dnsPolicy: ClusterFirstWithHostNet
          hostIPC: false
          hostNetwork: true
          hostPID: true
          enableServiceLinks: false
          restartPolicy: Never
          topologySpreadConstraints:
            - labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
              maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
          containers:
            - name: app
              image: public.ecr.aws/docker/library/alpine:3.23.2
              args:
                - |
                  nsenter --mount=/host/proc/$(pidof /usr/local/bin/kubelet)/ns/mnt --net=/host/proc/$(pidof /usr/local/bin/kubelet)/ns/net -- sh -c "fstrim --verbose --quiet-unsupported --all"
              command:
                - /bin/sh
                - -c
              resources:
                requests:
                  cpu: 10m
                  memory: 128Mi
                limits:
                  cpu: 3000m
                  memory: 6Gi
              securityContext:
                privileged: true
              volumeMounts:
                - mountPath: /host/net
                  name: netfs
                  readOnly: true
                - mountPath: /host/proc
                  name: procfs
                  readOnly: true
          volumes:
            - hostPath:
                path: /sys
                type: Directory
              name: netfs
            - hostPath:
                path: /proc
                type: Directory
              name: procfs
