---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/postgres-operator.crunchydata.com/postgrescluster_v1beta1.json
apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: ${APP}
spec:
  image: registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi9-18.1-2550
  imagePullPolicy: IfNotPresent
  postgresVersion: 18
  patroni: # Synchronous mode
    dynamicConfiguration:
      synchronous_mode: true
      postgresql:
        max_wal_size: 5GB
        synchronous_commit: "on"
        parameters:
          max_connections: 500
  instances:
    - name: pg-instance
      metadata:
        labels:
          app.kubernetes.io/name: ${APP}-crunchy-postgres
      dataVolumeClaimSpec:
        storageClassName: ceph-block
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: ${POSTGRES_DATA_SIZE}
  users:
    - name: "${APP}"
      databases: ["${APP}"]
      options: "SUPERUSER"
      password:
        type: AlphaNumeric
  backups:
    pgbackrest:
      configuration: &customBackrestConfig
        - secret:
            name: "${APP}-crunchy-postgres"
      global: &globalBackrestConfig
        repo1-block: "y"
        repo1-bundle: "y"
        repo1-path: /${APP}
        repo1-retention-full: "7"
        repo1-retention-full-type: time
        repo1-s3-uri-style: path
      jobs:
        ttlSecondsAfterFinished: 60
      manual:
        repoName: repo1
        options:
          - --type=full
      metadata:
        labels:
          app.kubernetes.io/name: ${APP}-crunchy-postgres-backup
      repos:
        - name: repo1
          s3: &s3
            bucket: pg-cluster-backups
            endpoint: "https://${CLOUDFLARE_ACCOUNT_ID}.r2.cloudflarestorage.com"
            region: us-east-1
          schedules:
            full: "0 3 * * 0"
            differential: "0 5 * * 1-6"
            incremental: "0 6-23 * * *"
  dataSource:
    pgbackrest:
      stanza: db # default stanza name
      configuration: *customBackrestConfig
      global: *globalBackrestConfig
      repo:
        name: repo1
        s3: *s3
