---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: karakeep
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    global:
      fullnameOverride: karakeep
    defaultPodOptions:
      securityContext:
        runAsUser: &context 1999
        runAsGroup: *context
        runAsNonRoot: true
        fsGroup: *context
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile: {type: RuntimeDefault}
    controllers:
      karakeep:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.30.0
            env:
              BROWSER_WEB_URL: http://karakeep-chrome.tools.svc.cluster.local:9222
              CRAWLER_DOWNLOAD_BANNER_IMAGE: true
              CRAWLER_ENABLE_ADBLOCKER: true
              CRAWLER_STORE_SCREENSHOT: true
              CRAWLER_FULL_PAGE_SCREENSHOT: false
              DATA_DIR: /data
              MAX_ASSET_SIZE_MB: 50
              MEILI_ADDR: http://karakeep-meilisearch.tools.svc.cluster.local:7700
              NEXTAUTH_URL: https://karakeep.chkpwd.com
              DISABLE_NEW_RELEASE_CHECK: true
              DISABLE_SIGNUPS: false # enable on initial run
              DISABLE_PASSWORD_AUTH: true
              OAUTH_PROVIDER_NAME: Authentik
              OAUTH_SCOPES: "openid profile email"
              OAUTH_CLIENT_ID: karakeep
              OAUTH_WELLKNOWN_URL: https://authentik.chkpwd.com/application/o/karakeep/.well-known/openid-configuration
              OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: true
              OLLAMA_BASE_URL: http://ai-inference-01.chkpwd.com:11434
              INFERENCE_TEXT_MODEL: gemma3:4b
              INFERENCE_IMAGE_MODEL: llava-llama3
              INFERENCE_CONTEXT_LENGTH: "8192"
            envFrom:
              - secretRef:
                  name: karakeep
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
      chrome:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124
            command:
              - chromium-browser
            args:
              - --headless
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
              - --hide-scrollbars
            securityContext:
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
      meilisearch:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - karakeep
                  topologyKey: kubernetes.io/hostname
        containers:
          main:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.31.0
            args:
              - /bin/meilisearch
              - --experimental-dumpless-upgrade
            env:
              MEILI_NO_ANALYTICS: true
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: karakeep
                    key: MEILI_MASTER_KEY
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 3Gi
    service:
      karakeep:
        controller: karakeep
        ports:
          http:
            port: &port 3000
      chrome:
        controller: chrome
        ports:
          http:
            port: 9222
      meilisearch:
        controller: meilisearch
        ports:
          http:
            port: 7700
    route:
      public:
        enabled: true
        kind: HTTPRoute
        hostnames: ["{{ .Release.Name }}.chkpwd.com"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: karakeep
                port: *port
        parentRefs:
          - name: public
            namespace: kube-system
            sectionName: https
    persistence:
      data:
        enabled: true
        accessMode: ReadWriteOnce
        type: persistentVolumeClaim
        size: "${VOLSYNC_CAPACITY}"
        storageClass: ceph-block
        dataSourceRef:
          kind: ReplicationDestination
          apiGroup: volsync.backube
          name: "${APP}"
        advancedMounts:
          karakeep:
            main:
              - path: /data
                subPath: karakeep
          meilisearch:
            main:
              - path: /meili_data
                subPath: meilisearch
      cache:
        type: emptyDir
        advancedMounts:
          karakeep:
            main:
              - path: /.cache
      appcache:
        type: emptyDir
        advancedMounts:
          karakeep:
            main:
              - path: /app/apps/web/.next/cache
