---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app unifi-controller
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    global:
      fullnameOverride: *app

    controllers:
      main:
        enabled: true
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1

        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: 2Gi
              storageClass: longhorn-config
              globalMounts:
                - path: /usr/lib/unifi/data

        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: &context 999
            runAsGroup: *context
            fsGroup: *context
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          main:
            image:
              repository: ghcr.io/goofball222/unifi
              tag: 8.0.26-ubuntu
              pullPolicy: IfNotPresent
            env:
              RUNAS_UID0: "false"
              PUID: "999"
              PGID: "999"
              JVM_MAX_HEAP_SIZE: "1024M"

            resources:
              requests:
                cpu: 12m
                memory: 764Mi
              limits:
                memory: 789Mi

    service:
      main:
        annotations:
          metallb.universe.tf/loadBalancerIPs: ${UNIFI_LB_ADDRESS}
        type: LoadBalancer
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8443
            protocol: HTTPS
          controller:
            enabled: true
            port: 8080
            protocol: TCP
          stun:
            port: 3478
            protocol: UDP

    ingress:
      main:
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        enabled: true
        className: int-ingress
        hosts:
          - host: &host "{{ .Release.Name }}.${K8S_GATEWAY_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host

    # persistence:
    #   logs:
    #     enabled: true
    #     type: emptyDir
    #     storageClass: longhorn-misc
    #     size: 1Gi
    #     globalMounts:
    #       - path: /usr/lib/unifi/logs
