- name: Reset K3S Cluster
  hosts:
    - k3s_cluster
  become: true
  gather_facts: true
  any_errors_fatal: true
    vars_prompt:
    - name: nuke
      prompt: |-
        Are you sure you want to nuke this cluster?
        Type 'cluster destroy' to proceed
      default: "n"
      private: false
      
  pre_tasks:
    - name: Check for confirmation
      ansible.builtin.fail:
        msg: Aborted nuking the cluster
      when: nuke != 'cluster destroy'

    - name: Pausing for 5 seconds...
      ansible.builtin.pause:
        seconds: 5
  tasks:
    - name: Stop Kubernetes
      ansible.builtin.include_role:
        name: xanmanning.k3s
        public: true
      vars:
        k3s_state: stopped

    - name: Uninstall Kubernetes
      ansible.builtin.include_role:
        name: xanmanning.k3s
        public: true
      vars:
        k3s_state: uninstalled

    - name: Reboot
      ansible.builtin.reboot:
        msg: Rebooting nodes
        reboot_timeout: 3600
