---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app plex-auto-languages
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    global:
      fullnameOverride: *app

    controllers:
      main:
        enabled: true
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1

        pod:
          enableServiceLinks: false

        containers:
          main:
            image:
              repository: docker.io/remirigal/plex-auto-languages
              tag: v1.2.3
              pullPolicy: IfNotPresent
            env:
              TZ: "${TZ}"
              PLEX_URL: http://media.${LOCAL_DOMAIN}:32400
              REFRESH_LIBRARY_ON_SCAN: "false"
              PLEX_TOKEN: ${APP_PLEX_TOKEN}

            resources:
              requests:
                cpu: 50m
                memory: 100M
              limits:
                memory: 500M

    service:
      main:
        enabled: false

    ingress:
      main:
        enabled: false

    persistence:
      local:
        enabled: true
        type: emptyDir
        mountPath: /.local
