# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-3.1.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: booklore
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    controllers:
      booklore:
        enabled: true
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: "${VOLSYNC_CAPACITY}"
              storageClass: ceph-block
              dataSourceRef:
                kind: ReplicationDestination
                apiGroup: volsync.backube
                name: "${APP}"
              globalMounts:
                - path: /app/data
        pod:
          securityContext:
            runAsUser: 1026
            runAsGroup: &group 100
            fsGroup: *group
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: booklore/booklore
              tag: v1.13.2
            env:
              USER_ID: "1026"
              GROUP_ID: "100"
              TZ: "America/New_York"
              DATABASE_URL: "jdbc:mariadb://mariadb:3306/booklore"
              DATABASE_USERNAME: "booklore"
              DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore
                    key: DATABASE_PASSWORD
              BOOKLORE_PORT: &port 6060
              SWAGGER_ENABLED: "false"
              FORCE_DISABLE_OIDC: "false"
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 400Mi
          mariadb:
            image:
              repository: lscr.io/linuxserver/mariadb
              tag: 11.4.8
            env:
              TZ: "America/New_York"
              MYSQL_USER: booklore
              MYSQL_DATABASE: booklore
              MYSQL_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore
                    key: DATABASE_PASSWORD
              MYSQL_ROOT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore
                    key: DATABASE_ROOT_PASSWORD
    service:
      app:
        primary: true
        controller: booklore
        ports:
          http:
            port: *port
    persistence:
      books:
        enabled: true
        type: nfs
        server: "nas-srv-01.chkpwd.com"
        path: /volume1/vault-01/media/books
        advancedMounts:
          booklore:
            app:
              - path: /books
      ingest:
        enabled: true
        type: nfs
        server: "nas-srv-01.chkpwd.com"
        path: /volume1/vault-01/media/books/ingest
        advancedMounts:
          booklore:
            app:
              - path: /bookdrop
      tmp:
        enabled: true
        type: emptyDir
        advancedMounts:
          booklore:
            app:
              - path: /tmp
              - path: /etc/nginx
