---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app botkube
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: botkube
      version: v1.8.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: botkube
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    replicaCount: 1

    fullnameOverride: *app

    image:
      repository: ghcr.io/kubeshop/botkube
      pullPolicy: IfNotPresent
      tag: v1.8.0

    settings:
      clusterName: k3s-onprem
      defaultNamespace: "default"
      configWatcher: true

    # Runs as a Non-Privileged user.
    securityContext:
      runAsUser: 101
      runAsGroup: 101

    containerSecurityContext:
      privileged: false
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true

    # -- Role Based Access for Botkube Pod and plugins.
    # [Ref doc](https://kubernetes.io/docs/admin/authorization/rbac/).
    rbac:
      groups:
        'botkube-plugins-default':
          create: true
          rules:
            - apiGroups: ["*"]
              resources: ["*"]
              verbs: ["get", "watch", "list"]
        'flux-read-patch':
          # -- Set it to `true` when using Flux executor plugin to enable `flux diff`.
          create: false
          rules:
            - apiGroups: ["*"]
              resources: ["*"]
              verbs: ["get", "watch", "list", "patch"]

    communications:
      default-group:
        discord:
          enabled: true
          channels:
            default:
              notification:
                disabled: false
              bindings:
                executors:
                  - k8s-default-tools
                  - flux
                sources:
                  - k8s-recommendation-events
                  - k8s-all-events
                  - k8s-err-with-logs-events

          notification:
            type: short

    serviceMonitor:
      enabled: false

    plugins:
      repositories:
        botkube:
          url: https://github.com/kubeshop/botkube/releases/download/v1.8.0/plugins-index.yaml

    actions:
      'describe-created-resource':
        enabled: false
      'show-logs-on-error':
        enabled: true

    sources:
      k8s-recommendation-events:
        botkube/kubernetes:
          enabled: true

      k8s-all-events:
        botkube/kubernetes:
          enabled: true
          resources:
            - type: v1/pods
            - type: v1/services
            - type: networking.k8s.io/v1/ingresses
            - type: v1/nodes
            - type: v1/namespaces
            - type: v1/configmaps
            - type: rbac.authorization.k8s.io/v1/roles
            - type: rbac.authorization.k8s.io/v1/rolebindings
            - type: rbac.authorization.k8s.io/v1/clusterrolebindings
            - type: rbac.authorization.k8s.io/v1/clusterroles
            - type: apps/v1/daemonsets
            - type: apps/v1/deployments
            - type: apps/v1/statefulsets

      k8s-err-with-logs-events:
        botkube/kubernetes:
          enabled: true

    executors:
      k8s-default-tools:
        botkube/kubectl:
          enabled: true
        botkube/helm:
          enabled: true
      flux:
        botkube/flux:
          enabled: true
          config:
            log:
              level: info

    aliases:
      k:
        command: kubectl
        displayName: "Kubectl alias"

    kgp:
      command: kubectl get pods
      displayName: "Get pods"

    resources:
      requests:
        cpu: 100m
        memory: 138Mi
      limits:
        memory: 1000Mi

  valuesFrom:
    - targetPath: communications.default-group.discord.token
      kind: Secret
      name: botkube-secret
      valuesKey: BOTKUBE_DISCORD_TOKEN
    - targetPath: communications.default-group.discord.botID
      kind: Secret
      name: botkube-secret
      valuesKey: BOTKUBE_DISCORD_BOT_ID
    - targetPath: communications.default-group.discord.channels.default.id
      kind: Secret
      name: botkube-secret
      valuesKey: BOTKUBE_DISCORD_CHANNEL_ID
    - targetPath: executors.flux.github.auth.accessToken
      kind: Secret
      name: botkube-secret
      valuesKey: FLUX_BOTKUBE_GITHUB_TOKEN
