h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
  /* Adding animation to the H1 tag */
  animation: colorChange 5s infinite;
}

p  {
  color: red;
  font-family: courier;
  font-size: 160%;
  /* Adding animation to the P tag */
  animation: colorChange 5s infinite;
}

/* Define the animation */
@keyframes colorChange {
  0%   {color: blue;}
  50%  {color: green;}
  100% {color: red;}
}