apiVersion: notification.toolkit.fluxcd.io/v1beta2
kind: Provider
metadata:
  name: &name flux-k3s-errors
  namespace: flux-system
spec:
  type: discord
  channel: *name
  secretRef:
    name: notif-errors-provider
  username: k3s-errors-bot
