---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugins-gpu
spec:
  interval: 15m
  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: 0.35.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: intel
  dependsOn:
    - name: intel-device-plugins-operator
      namespace: system
  values:
    name: i915
    sharedDevNum: 99
    nodeFeatureRule: false
    tolerations: []
