---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app maintainerr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    global:
      fullnameOverride: *app

    controllers:
      main:
        enabled: true
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1

        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: &context 1000
            runAsGroup: *context
            fsGroup: *context
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          main:
            image:
              repository: ghcr.io/jorenn92/maintainerr
              tag: 1.7.1@sha256:3ad0e51af698c3626dc6d63231e76f65df98bfd1ceaf692a80bac6292ee6313f # TODO: Pinned digest for 1.7.1; pipeline broken
              pullPolicy: IfNotPresent

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL

            env:
              TZ: "${TZ}"

            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 512Mi

    service:
      main:
        ports:
          http:
            port: 80

    ingress:
      main:
        enabled: true
        className: int-ingress
        hosts:
          - host: &host "{{ .Release.Name }}.${K8S_GATEWAY_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        accessMode: ReadWriteOnce
        storageClass: longhorn-media
        size: 300Mi
        globalMounts:
          - path: /opt/data
      tmp:
        enabled: true
        type: emptyDir
        medium: Memory
        size: 100Mi
