#cloud-config

hostname: "cattles-k3s-{{ trunc 4 .MachineID }}"

users:
  - name: chkpwd
    shell: /bin/bash
    groups: [ "admin" ]
    ssh_authorized_keys: [ "github:chkpwd" ]

install:
  auto: true
  device: /dev/sda
  reboot: true

  grub_options:
    saved_entry: "Kairos"

  extra-dirs-rootfs: &longhorn [ "/var/lib/longhorn" ]

upgrade:
  extra-dirs-rootfs: *longhorn

reset:
  extra-dirs-rootfs: *longhorn

growpart:
  devices: [ "/" ]

stages:
  after-install-chroot:
    - name: "Install Longhorn Prerequisites"
      commands:
        - apt install parted nfs-common open-iscsi

    - name: "Format NVME Drive"
      commands:
        - parted /dev/nvme0n1 --script -a optimal -- mklabel gpt mkpart longhorn ext4 0% 100%
        - mkfs.ext4 -F /dev/nvme0n1p1

  initramfs:
    - name: Increase number of open files
      sysctl:
        fs.inotify.max_user_instances: "8192"
        fs.inotify.max_user_watches: "524288"

    - name: "Mount Longhorn filesystem"
      commands:
        # -- https://github.com/kairos-io/packages/blob/3482fed51f21a2155b60a0aa9ac91b1d839d1029/packages/static/kairos-overlay-files/files/system/oem/00_rootfs_uki.yaml#L43
        - umount /var/lib/longhorn
        - mount -o rw /dev/nvme0n1p1 /var/lib/longhorn

  boot:
    - name: "Define Environment Variables"
      environment:
        KUBECONFIG: /etc/rancher/k3s/k3s.yaml
        CONTAINERD_ADDRESS: /run/k3s/containerd/containerd.sock
        CONTAINERD_NAMESPACE: k8s.io

    - name: "Add flux-system namespace manifest"
      files:
        - path: /var/lib/rancher/k3s/server/manifests/flux-system.yaml
          content: |
            apiVersion: v1
            kind: Namespace
            metadata:
              name: flux-system

    - name: "Add SOPS secret"
      files:
        - path: /var/lib/rancher/k3s/server/manifests/sops-secret.yaml
          content: |
            apiVersion: v1
            kind: Secret
            metadata:
              name: sops-age
              namespace: flux-system
            type: Opaque
            data:
              age.agekey: {[ AGE_KEY_SECRET_BASE64 ]}

    - name: "Set modprobe modules"
      modules:
        - iscsi_tcp

kubevip:
  enabled: true
  eip: {[ kairos_kubevip_address ]}

k3s:
  enabled: true
  args:
    - --disable=traefik,servicelb,metrics-server,local-storage
    - --write-kubeconfig-mode 0644

# -- p2p network configs
p2p:
  network_id: cattle-k3s
  disable_dht: true # Discover nodes only in the local network

  vpn:
    create: false
    use: false

  network_token: {[ P2P_NETWORK_TOKEN ]}

  auto:
    enable: true
    ha:
      enable: true
      master_nodes: 2
