---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.5.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    defaultPodOptions:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 80
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - sabnzbd
                topologyKey: "kubernetes.io/hostname"
    controllers:
      plex:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: "${VOLSYNC_CAPACITY}"
              storageClass: ceph-block
              dataSourceRef:
                kind: ReplicationDestination
                apiGroup: volsync.backube
                name: "${APP}"
              globalMounts:
                - path: /config
        pod:
          securityContext:
            runAsUser: 1026
            runAsGroup: &group 100
            fsGroup: *group
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156
              pullPolicy: IfNotPresent
            env:
              TZ: "America/New_York"
              PLEX_ADVERTISE_URL: https://10.0.10.35:32400,https://plex.chkpwd.com
              PLEX_NO_AUTH_NETWORKS: 10.244.0.0/16
              PLEX_CLAIM:
                valueFrom:
                  secretKeyRef:
                    name: plex
                    key: PLEX_CLAIM
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                gpu.intel.com/i915: 1
                cpu: 200m
                memory: 1Gi
              limits:
                gpu.intel.com/i915: 1
                memory: 2Gi
    service:
      app:
        controller: plex
        annotations:
          lbipam.cilium.io/ips: 10.0.10.35
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: *port
    persistence:
      data:
        type: nfs
        server: "nas-srv-01.chkpwd.com"
        path: /volume1/vault-01/media
        globalMounts:
          - path: /data
      transcode:
        type: emptyDir
        globalMounts:
          - path: /transcode
