---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: cattle-k8s
endpoint: https://10.0.10.13:6443
# renovate: depName=ghcr.io/siderolabs/installer datasource=docker
talosVersion: v1.11.5
# renovate: depName=ghcr.io/siderolabs/kubelet datasource=docker
kubernetesVersion: v1.34.2
additionalApiServerCertSans: &sans
  - 127.0.0.1
additionalMachineCertSans: *sans
cniConfig:
  name: none
nodes:
  - hostname: ct-k8s-01.chkpwd.com
    ipAddress: 10.0.10.10
    controlPlane: true
    installDiskSelector:
      model: INTEL SSDSC2BB12
    networkInterfaces:
      - interface: enp0s31f6
        dhcp: true
        vip:
          ip: &vip 10.0.10.13
        vlans:
          - vlanId: 20
            dhcp: false
            addresses: []
  - hostname: ct-k8s-02.chkpwd.com
    ipAddress: 10.0.10.11
    controlPlane: true
    installDiskSelector:
      model: INTEL SSDSC2BB12
    networkInterfaces:
      - interface: enp0s31f6
        dhcp: true
        vip:
          ip: *vip
        vlans:
          - vlanId: 20
            dhcp: false
            addresses: []
  - hostname: ct-k8s-03.chkpwd.com
    ipAddress: 10.0.10.12
    controlPlane: true
    installDiskSelector:
      model: INTEL SSDSC2BB12
    networkInterfaces:
      - interface: enp0s31f6
        dhcp: true
        vip:
          ip: *vip
        vlans:
          - vlanId: 20
            dhcp: false
            addresses: []
controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - intel_iommu=on
        - iommu=pt
        - apparmor=0
        - init_on_free=0
        - init_on_alloc=0
        - mitigations=off
        - security=none
        - net.ifnames=1
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
  patches:
    # Configure containerd
    # - discard_unpacked_layers (spegel, https://spegel.dev/docs/getting-started/#talos)
    - |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins."io.containerd.cri.v1.images"]
                discard_unpacked_layers = false
    # Disable search domain (DHCP is used)
    - |-
      machine:
        network:
          disableSearchDomain: true
    # Enable host dns
    - |-
      machine:
        features:
          hostDNS:
            enabled: true
            resolveMemberNames: true
            forwardKubeDNSToHost: false
    # Configure udev
    - |-
      machine:
        udev:
          rules:
            - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660" # Intel GPU
    - |-
      machine:
        nodeLabels:
          intel.feature.node.kubernetes.io/gpu: "true"
    # Configure kubelet
    - |-
      machine:
        kubelet:
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 10.0.10.0/24
    # Configure cluster
    - |-
      cluster:
        allowSchedulingOnControlPlanes: true
        coreDNS:
            disabled: true
        proxy:
          disabled: true
        scheduler:
          config:
            apiVersion: kubescheduler.config.k8s.io/v1
            kind: KubeSchedulerConfiguration
            profiles:
              - schedulerName: default-scheduler
                pluginConfig:
                  - name: PodTopologySpread
                    args:
                      defaultingType: List
                      defaultConstraints:
                        - maxSkew: 1
                          topologyKey: kubernetes.io/hostname
                          whenUnsatisfiable: ScheduleAnyway
    # Configure etcd
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 10.0.10.0/24
    # Configure NFS mount options
    - |
      machine:
        files:
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              noatime=True
              nconnect=16
    # Configure custom sysctls
    - |-
      machine:
        sysctls:
          fs.inotify.max_user_instances: 8192
          fs.inotify.max_user_watches: 1048576
          net.core.rmem_max: 67108864                 # max socket receive buffer size (for high throughput apps) - QUIC
          net.core.wmem_max: 67108864                 # max socket send buffer size (for high throughput apps) - QUIC
          net.core.default_qdisc: fq                  # Sets default queuing discipline to Fair Queueing (FQ)
          net.ipv4.tcp_congestion_control: bbr        # Enables BBR for TCP congestion control
          # user.max_user_namespaces: "11255"           # needed for rootless containers (hostUsers)
    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl
    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - actions-runner-system
              - system-upgrade
