---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.5.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyseerr
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    global:
      fullnameOverride: jellyseerr
    controllers:
      jellyseerr:
        enabled: true
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: "${VOLSYNC_CAPACITY}"
              storageClass: ceph-block
              dataSourceRef:
                kind: ReplicationDestination
                apiGroup: volsync.backube
                name: "${APP}"
              globalMounts:
                - path: /app/config
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: &context 1999
            runAsGroup: *context
            fsGroup: *context
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/fallenbagel/jellyseerr
              tag: 2.7.3
              pullPolicy: IfNotPresent
            env:
              TZ: "America/New_York"
              LOG_LEVEL: "info"
              PORT: &port 5055
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 600Mi
    service:
      app:
        controller: jellyseerr
        ports:
          http:
            port: *port
    route:
      public:
        enabled: true
        kind: HTTPRoute
        hostnames: ["{{ .Release.Name }}.chkpwd.com"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: jellyseerr
                port: *port
        parentRefs:
          - name: public
            namespace: kube-system
            sectionName: https
    persistence:
      tmp:
        enabled: true
        type: emptyDir
