---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.5.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recyclarr
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    controllers:
      recyclarr:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          concurrencyPolicy: Forbid
          schedule: "0 2 * * 1"
          startingDeadlineSeconds: 30
          successfulJobsHistory: 1
          failedJobsHistory: 1
          backoffLimit: 1
        pod:
          securityContext:
            runAsUser: &context 1999
            runAsGroup: *context
            fsGroup: *context
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 7.5.2
            command: ["/app/recyclarr/recyclarr"]
            args: ["sync"]
            env:
              TZ: America/New_York
              API_KEY_SONARR:
                valueFrom:
                  secretKeyRef:
                    name: recyclarr
                    key: API_KEY_SONARR
              API_KEY_RADARR:
                valueFrom:
                  secretKeyRef:
                    name: recyclarr
                    key: API_KEY_RADARR
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 5m
                memory: 36Mi
              limits:
                memory: 200Mi
    persistence:
      config-file:
        type: configMap
        name: recyclarr-cm
        globalMounts:
          - path: /config/recyclarr.yml
            subPath: recyclarr.yml
            readOnly: true
      config:
        type: emptyDir
        globalMounts:
          - path: /config
