---
# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
sonarr:
  series:
    base_url: http://sonarr.media.svc.cluster.local:8989
    api_key: !env_var API_KEY_SONARR
    # Custom Format Configuration
    delete_old_custom_formats: true
    include:
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-custom-formats-web-1080p
      - template: sonarr-quality-definition-anime
      - template: sonarr-v4-quality-profile-anime
      - template: sonarr-v4-custom-formats-anime
    quality_profiles:
      - name: WEB-1080p
        reset_unmatched_scores:
          enabled: true
        qualities:
          - name: WEB 1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
              - HDTV-1080p
              - Bluray-1080p
          - name: WEB 720p
            qualities:
              - WEBDL-720p
              - WEBRip-720p
              - HDTV-720p
              - Bluray-720p
          - name: WEB 480p
            qualities:
              - Bluray-480p
              - WEBRip-480p
              - WEBDL-480p
          - name: DVD
      - name: Remux-1080p - Anime
        reset_unmatched_scores:
          enabled: true
radarr:
  radarr_main:
    base_url: http://radarr.media.svc.cluster.local:7878
    api_key: !env_var API_KEY_RADARR
    # Custom Format Configuration
    delete_old_custom_formats: true
    include:
      - template: radarr-quality-definition-movie
      - template: radarr-quality-profile-hd-bluray-web
      - template: radarr-custom-formats-hd-bluray-web
      - template: radarr-quality-definition-movie
      - template: radarr-quality-profile-uhd-bluray-web
      - template: radarr-custom-formats-uhd-bluray-web
    quality_profiles:
      - name: HD Bluray + WEB
        reset_unmatched_scores:
          enabled: true
      - name: UHD Bluray + WEB
        reset_unmatched_scores:
          enabled: true
