# Load parent .envrc
source_up

# Load python virtualenv
layout python3

# Ansible env variables
export ANSIBLE_CONFIG=$(expand_path ./ansible/ansible.cfg)
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

