source_up

uv sync
# Ansible env variables
export ANSIBLE_CONFIG=$(expand_path ./ansible.cfg)
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# Activate the virtual environment
export VIRTUAL_ENV=.venv
layout python3

# Add custom deactivation function to deactivate the venv.
# This is necessary because the default deactivate function
# doesn't appear when using direnv to activate the venv.
deactivate () {
  unset -f pydoc > /dev/null 2>&1 || true
  if ! [ -z "${_OLD_VIRTUAL_PATH:+_}" ]
  then
    PATH="$_OLD_VIRTUAL_PATH"
    export PATH
    unset _OLD_VIRTUAL_PATH
  fi
  if ! [ -z "${_OLD_VIRTUAL_PYTHONHOME+_}" ]
  then
    PYTHONHOME="$_OLD_VIRTUAL_PYTHONHOME"
    export PYTHONHOME
    unset _OLD_VIRTUAL_PYTHONHOME
  fi
  hash -r 2> /dev/null
  unset VIRTUAL_ENV
  if [ ! "${1-}" = "nondestructive" ]
  then
    unset -f deactivate
  fi
}
