[defaults]
inventory                  = ./inventory/clients.yaml
host_key_checking          = false
ansible_python_interpreter = /usr/bin/python3
timeout                    = 30
remote_user                = hyoga
hash_behaviour             = merge
forks                      = 32
#vault_password_file        = vault-password

# Use the YAML callback plugin.
stdout_callback            = yaml

# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks      = True
collections_paths          = .dependencies
roles_path                 = .dependencies:roles

# Load in vars for sops
vars_plugins_enabled       = host_group_vars,community.sops.sops

[diff]
always                     = true

[ssh_connections]
pipelining                 = true

#[inventory]
#enable_plugins = vmware_vm_inventory
