[defaults]
inventory                  = inventory
host_key_checking          = false
interpreter_python         = "/usr/bin/python3"
timeout                    = 30
remote_user                = chkpwd
hash_behaviour             = merge
forks                      = 32

# Use the YAML callback plugin.
stdout_callback            = yaml

# Do not use the stdout_callback when running ad-hoc commands.
# When 'True', command stdout is hidden.
bin_ansible_callbacks = False

collections_path           = .dependencies
roles_path                 = .dependencies:roles

# Load in vars for sops
vars_plugins_enabled       = host_group_vars,community.sops.sops

lookup_plugins             = plugins/lookup

[diff]
always                     = true

[ssh_connections]
pipelining                 = true

[inventory]
enable_plugins             = yaml,ini,vmware_vm_inventory
