ansible-compat==25.8.1 ; python_version >= "3.10"
ansible-core==2.17.11 ; python_version >= "3.10"
ansible-lint==25.8.2 ; python_version >= "3.10"
attrs==25.3.0 ; python_version >= "3.10"
black==25.1.0 ; python_version >= "3.10"
bracex==2.5.post1 ; python_version >= "3.10"
certifi==2025.4.26 ; python_version >= "3.10"
cffi==1.17.1 ; python_version >= "3.10" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.1 ; python_version >= "3.10"
click==8.1.8 ; python_version >= "3.10"
colorama==0.4.6 ; python_version >= "3.10" and platform_system == "Windows"
cryptography==44.0.2 ; python_version >= "3.10"
filelock==3.18.0 ; python_version >= "3.10"
idna==3.10 ; python_version >= "3.10"
importlib-metadata==8.6.1 ; python_version >= "3.10"
jinja2==3.1.6 ; python_version >= "3.10"
jsonschema-specifications==2025.4.1 ; python_version >= "3.10"
jsonschema==4.23.0 ; python_version >= "3.10"
markupsafe==3.0.2 ; python_version >= "3.10"
mypy-extensions==1.1.0 ; python_version >= "3.10"
packaging==25.0 ; python_version >= "3.10"
pathspec==0.12.1 ; python_version >= "3.10"
platformdirs==4.3.7 ; python_version >= "3.10"
pycparser==2.22 ; python_version >= "3.10" and platform_python_implementation != "PyPy"
pyyaml==6.0.2 ; python_version >= "3.10"
referencing==0.36.2 ; python_version >= "3.10"
requests==2.32.3 ; python_version >= "3.10"
resolvelib==1.0.1 ; python_version >= "3.10"
rpds-py==0.24.0 ; python_version >= "3.10"
ruamel-yaml-clib==0.2.12 ; platform_python_implementation == "CPython" and python_version < "3.14" and python_version >= "3.10"
ruamel-yaml==0.18.15 ; python_version >= "3.10"
subprocess-tee==0.4.2 ; python_version >= "3.10"
tomli==2.2.1 ; python_version == "3.10"
typing-extensions==4.13.2 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.4.0 ; python_version >= "3.10"
wcmatch==10.0 ; python_version >= "3.10"
yamllint==1.37.1 ; python_version >= "3.10"
zipp==3.21.0 ; python_version >= "3.10"
