# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-3.1.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: stump
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    controllers:
      stump:
        enabled: true
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: "${VOLSYNC_CAPACITY}"
              storageClass: ceph-block
              dataSourceRef:
                kind: ReplicationDestination
                apiGroup: volsync.backube
                name: "${APP}"
              globalMounts:
                - path: /config
        pod:
          securityContext:
            runAsUser: 0 # run pod as root initially to setup permissions (i.e create a user)
            runAsNonRoot: false
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: aaronleopold/stump
              tag: nightly
              pullPolicy: IfNotPresent
            env:
              TZ: "America/New_York"
              ENABLE_OPDS_PROGRESSION: "true"
              ENABLE_UPLOAD: "false"
              PUID: 1026
              PGID: 100
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 10801
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 500Mi
    service:
      app:
        controller: stump
        ports:
          http:
            port: *port
    route:
      private:
        enabled: true
        kind: HTTPRoute
        hostnames: ["{{ .Release.Name }}.chkpwd.com"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: stump
                port: *port
        parentRefs:
          - name: private
            namespace: kube-system
            sectionName: https
    persistence:
      ingest:
        enabled: true
        type: nfs
        server: "nas-srv-01.chkpwd.com"
        path: /volume1/vault-01/media/books/ingest
        advancedMounts:
          stump:
            app:
              - path: /app/ingest
