---
- name: Configure SWAG instance
  hosts: ct-01-ec2
  become: true
  tasks:
    - name: Create necessary directories
      ansible.builtin.file: # noqa risky-file-permissions
        path: "{{ item }}"
        state: directory
      loop:
        - "{{ configuration_path }}/swag/dns-conf"
        - "{{ configuration_path }}/swag/nginx/site-confs"
        - "{{ configuration_path }}/wireguard/wg_confs/"
        - "{{ configuration_path }}/gatus"
    - name: Create wireguard config
      ansible.builtin.copy:
        content: |
          [Interface]
          PrivateKey = {{ lookup('ripplefcl.bwscache.secret', 'cloud-aws-secrets').value.wireguard_priv_key }}
          Address = 10.6.6.5/24
          DNS = 10.6.6.1, chkpwd.com

          [Peer]
          PublicKey = SOfTXw3sdQFitrXax0ZCR9vvxOFRGVr7V30BIs5Csws=
          AllowedIPs = 0.0.0.0/0
          Endpoint = {{ lookup('ripplefcl.bwscache.secret', 'infra-network-secrets').value.public_ip }}:{{ lookup('ripplefcl.bwscache.secret', 'cloud-aws-secrets').value.wireguard_port }}
        dest: "{{ configuration_path }}/wireguard/wg_confs/wg0.conf"
        owner: root
        group: root
        mode: "600"
    - name: Create Gatus config
      ansible.builtin.copy:
        content: |
          {{ gatus_config }}
        dest: "{{ configuration_path }}/gatus/config.yml"
        owner: "{{ common_user }}"
        group: "{{ common_user }}"
        mode: "664"
    - name: Template NGINX config # noqa no-relative-paths
      ansible.builtin.template:
        src: ../../../templates/nginx.conf.j2
        dest: "{{ configuration_path }}/swag/nginx/site-confs/default.conf"
        mode: "664"
    - name: Copy Cloudflare config
      ansible.builtin.copy:
        content: |
          dns_cloudflare_api_token = "{{ lookup('ripplefcl.bwscache.secret', 'cloudflare-dns-secrets').value.swag_api_token }}"
        dest: "{{ configuration_path }}/swag/dns-conf/cloudflare.ini"
        mode: "400"
    - name: Create network(s)
      community.docker.docker_network:
        name: "{{ item.name }}"
        ipam_config:
          - subnet: 172.23.{{ item.octet }}.0/24
            gateway: 172.23.{{ item.octet }}.1
            iprange: 172.23.{{ item.octet }}.0/26
      loop:
        - name: net_swag
          octet: 28
