---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.1.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: glance
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    controllers:
      glance:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          glance:
            image:
              repository: glanceapp/glance
              tag: v0.8.4
            env:
              TZ: America/New_York
              NASA_API_KEY: /nasa-gov/nasa-api-key
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 60Mi
              limits:
                memory: 100Mi
        pod:
          securityContext:
            runAsUser: 1999
            runAsGroup: &group 1999
            runAsNonRoot: true
            fsGroup: *group
            fsGroupChangePolicy: OnRootMismatch
    service:
      glance:
        controller: glance
        ports:
          http:
            port: &port 8080
    route:
      private:
        enabled: true
        kind: HTTPRoute
        hostnames: ["{{ .Release.Name }}.chkpwd.com"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: glance
                port: *port
        parentRefs:
          - name: private
            namespace: kube-system
            sectionName: https
    persistence:
      config-file:
        type: configMap
        name: glance-config
        globalMounts:
          - path: /app/config/glance.yml
            subPath: glance.yml
            readOnly: true
      nasa-gov:
        type: secret
        name: glance
