---
http:
  routers:
    mikrotik:
      entryPoints:
        - "https"
      rule: "Host(`mikrotik.chkpwd.com`)"
      middlewares:
        - https-redirectscheme
      service: mikrotik
      tls:
        certResolver: cloudflare
    proxmox:
      entryPoints:
        - "https"
      rule: "Host(`proxmox.chkpwd.com`) && PathPrefix(`/`)"
      middlewares:
        - proxmox-headers
      service: proxmox
      tls:
        certResolver: cloudflare
    ollama:
      entryPoints:
        - "https"
      rule: "Host(`ollama.chkpwd.com`)"
      middlewares:
        - https-redirectscheme
      service: ollama
      tls:
        certResolver: cloudflare
    gravity-dns:
      entryPoints:
        - "https"
      rule: "Host(`gravity.chkpwd.com`)"
      middlewares:
        - https-redirectscheme
      service: gravity-dns
      tls:
        certResolver: cloudflare
    home-assistant:
      entryPoints:
        - "https"
      rule: "Host(`ha.chkpwd.com`)"
      middlewares:
        - https-redirectscheme
      service: home-assistant
      tls:
        certResolver: cloudflare
    synology:
      entryPoints:
        - "https"
      rule: "Host(`synology.chkpwd.com`)"
      middlewares:
        - https-redirectscheme
      service: synology
      tls:
        certResolver: cloudflare
  services:
    mikrotik:
      loadBalancer:
        servers:
          - url: "http://10.0.10.1"
    proxmox:
      loadBalancer:
        servers:
          - url: "https://10.0.10.3:8006"
        passHostHeader: true
    ollama:
      loadBalancer:
        servers:
          - url: "http://10.0.10.15:11434"
    gravity-dns:
      loadBalancer:
        servers:
          - url: "http://10.0.10.4:8008"
    home-assistant:
      loadBalancer:
        servers:
          - url: "http://10.0.10.8:8123"
    synology:
      loadBalancer:
        servers:
          - url: "http://10.0.10.5:5000"
  middlewares:
    https-redirectscheme:
      redirectScheme:
        scheme: https
    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
    proxmox-headers:
      headers:
        customRequestHeaders:
          X-Requested-With: "XMLHttpRequest"
        accessControlAllowMethods:
          - "GET"
          - "POST"
          - "PUT"
          - "DELETE"
          - "OPTIONS"
        accessControlAllowHeaders:
          - "*"
        accessControlAllowOriginList:
          - "*"
        accessControlMaxAge: 100
        accessControlAllowCredentials: true
