---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  interval: 15m
  chart:
    spec:
      chart: multus
      version: 1.1.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    cni-plugins:
      image:
        repository: ghcr.io/home-operations/cni-plugins
        tag: 1.9.0
    multus:
      image:
        repository: ghcr.io/k8snetworkplumbingwg/multus-cni
        tag: v4.2.3
      resources:
        requests:
          cpu: 10m
        limits:
          memory: 32Mi
    cni:
      netPath: /etc/cni/net.d
      binPath: /opt/cni/bin
