---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: jitsi
  namespace: flux-system
spec:
  interval: 30m
  url: https://jitsi-contrib.github.io/jitsi-helm
  timeout: 3m