---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: main-issuer
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: unix.chkpwd@gmail.com
    profile: shortlived
    privateKeySecretRef:
      name: main-issuer
    solvers:
      - dns01:
          cloudflare:
            email: unix.chkpwd@gmail.com
            apiTokenSecretRef:
              name: cloudflare
              key: api-token
        selector: {}
