---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: metallb
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: &app metallb
      version: 0.13.12
      sourceRef:
        kind: HelmRepository
        name: metallb
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    fullnameOverride: *app

    speaker:
      enabled: true
      logLevel: info
      tolerateMaster: true

      image:
        repository: quay.io/metallb/speaker

      updateStrategy:
        type: RollingUpdate

      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 125Mi

    frr:
      enabled: true
      image:
        repository: quay.io/frrouting/frr
        tag: 9.1.0

      metricsPort: 7473

      resources:
        requests:
          cpu: 10m
          memory: 102Mi
        limits:
          memory: 125Mi

    reloader:
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 125Mi

    frrMetrics:
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 125Mi

      crds:
        enabled: true
