---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: teslamate
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    global:
      fullnameOverride: teslamate
    controllers:
      teslamate:
        enabled: true
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        defaultContainerOptionsStrategy: merge
        defaultContainerOptions:
          envFrom:
            - secretRef:
                name: teslamate
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
            readOnlyRootFilesystem: true
        containers:
          app:
            env:
              CHECK_ORIGIN: true
              MQTT_HOST: 10.0.10.8
              PORT: &port 80
              TZ: America/New_York
              VIRTUAL_HOST: "{{ .Release.Name }}.chkpwd.com"
              MQTT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: teslamate
                    key: mqtt_password
              MQTT_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: teslamate
                    key: mqtt_username
              ENCRYPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: teslamate
                    key: encryption_key
              DATABASE_HOST:
                valueFrom:
                  secretKeyRef:
                    name: teslamate-pguser-teslamate
                    key: host
              DATABASE_USER:
                valueFrom:
                  secretKeyRef:
                    name: teslamate-pguser-teslamate
                    key: user
              DATABASE_PASS:
                valueFrom:
                  secretKeyRef:
                    name: teslamate-pguser-teslamate
                    key: password
              DATABASE_NAME:
                valueFrom:
                  secretKeyRef:
                    name: teslamate-pguser-teslamate
                    key: dbname
              DATABASE_SSL: "noverify"
            image:
              repository: docker.io/teslamate/teslamate
              tag: 2.2.0
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
            resources:
              limits:
                memory: 512Mi
              requests:
                cpu: 10m
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1999
        runAsGroup: 1999
    service:
      app:
        ports:
          http:
            port: *port
    route:
      private:
        enabled: true
        kind: HTTPRoute
        hostnames: ["{{ .Release.Name }}.chkpwd.com"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: teslamate
                port: *port
        parentRefs:
          - name: private
            namespace: kube-system
            sectionName: https
    persistence:
      tmp:
        type: emptyDir
