---
traefik_docker_network: proxy
traefik_container:
  - name: traefik
    image: traefik:v3.6.9
    restart_policy: always
    env:
      CF_API_EMAIL: "unix.chkpwd@gmail.com"
      CF_DNS_API_TOKEN: "{{ lookup('ripplefcl.bwscache.secret', 'cloudflare-dns-secrets').value.traefik_api_token }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ configuration_path }}/traefik/acme.json:/acme.json:rw"
      - "{{ configuration_path }}/traefik/traefik.yml:/traefik.yml:ro"
      - "{{ configuration_path }}/traefik/config.yml:/config.yml:ro"
    etc_hosts:
      host.docker.internal: 172.17.0.1
    networks:
      - name: "{{ traefik_docker_network }}"
    ports:
      - 80:80
      - 443:443
