---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.5.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-auto-languages
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    global:
      fullnameOverride: plex-auto-languages
    defaultPodOptions:
      hostname: plex-auto-languages
    controllers:
      plex-auto-languages:
        enabled: true
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        pod:
          securityContext:
            runAsUser: &context 1999
            runAsGroup: *context
            fsGroup: *context
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/journeydocker/plex-auto-languages
              tag: 1.4.0
              pullPolicy: IfNotPresent
            env:
              TZ: "America/New_York"
              PLEX_URL: http://plex.media.svc.cluster.local:32400
              REFRESH_LIBRARY_ON_SCAN: "false"
              PLEX_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: plex-auto-languages
                    key: PLEX_TOKEN
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 125Mi
    persistence:
      config:
        type: emptyDir
      local:
        type: emptyDir
        globalMounts:
          - path: /.local
