# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"
vars:
  DB_CLUSTER: "{{.DB_CLUSTER}}"
  NS: "{{.NS}}"
  DB_POD: >-
    $(kubectl get pods
    --namespace {{.NS}}
    -l postgres-operator.crunchydata.com/cluster={{.DB_CLUSTER}}
    -o jsonpath='{.items[0].metadata.name}')
tasks:
  crunchy-dump:
    desc: Run pg_dump against a CrunchyData Postgres cluster. [DB_NAME=required] [OUTPUT_DIR=.] [DB_CLUSTER=required] [NS=required]
    preconditions:
      - which kubectl
      - kubectl get pods --namespace {{.NS}} -l postgres-operator.crunchydata.com/cluster={{.DB_CLUSTER}}
    requires:
      vars:
        - DB_NAME
        - DB_CLUSTER
        - NS
    vars:
      OUTPUT_DIR: '{{ .OUTPUT_DIR | default "." }}'
      CLI_ARGS: '{{ .CLI_ARGS | default "--verbose --format=c --no-comments --clean --if-exists --no-owner --extension plpgsql" }}'
    cmds:
      - kubectl exec -it --container database --namespace {{.NS}} {{.DB_POD}} -- /bin/bash -c 'pg_dump --dbname {{.DB_NAME}} {{.CLI_ARGS}} --file /pgdata/{{.DB_NAME}}.psql'
      - kubectl cp --container database "{{.NS}}/{{.DB_POD}}:/pgdata/{{.DB_NAME}}.psql" "{{.OUTPUT_DIR}}/{{.DB_NAME}}.psql"
      - kubectl exec -it --container database --namespace {{.NS}} {{.DB_POD}} -- /bin/bash -c 'rm -f /pgdata/{{.DB_NAME}}.psql'
  crunchy-restore:
    desc: Restore a pg_dump into a CrunchyData Postgres cluster. [DB_NAME=required] [DB_USER=required] [FILE=required] [DB_CLUSTER=required] [NS=required]
    preconditions:
      - which kubectl
      - kubectl get pods --namespace {{.NS}} -l postgres-operator.crunchydata.com/cluster={{.DB_CLUSTER}}
      - test -f "{{.FILE}}"
    requires:
      vars:
        - DB_NAME
        - DB_USER
        - FILE
        - DB_CLUSTER
        - NS
    vars:
      CLI_ARGS: '{{ .CLI_ARGS | default (printf "--verbose --format=c --clean --if-exists --no-owner --role %s" .DB_USER) }}'
    cmds:
      - kubectl cp --container database "{{.FILE}}" "{{.NS}}/{{.DB_POD}}:/pgdata/restore-{{.DB_NAME}}.psql"
      - kubectl exec -it --container database --namespace {{.NS}} {{.DB_POD}} -- /bin/bash -c 'echo "ALTER DATABASE \"{{.DB_NAME}}\" OWNER TO \"{{.DB_USER}}\";" | psql'
      - kubectl exec -it --container database --namespace {{.NS}} {{.DB_POD}} -- /bin/bash -c 'pg_restore --dbname {{.DB_NAME}} {{.CLI_ARGS}} /pgdata/restore-{{.DB_NAME}}.psql'
      - defer: kubectl exec -it --container database --namespace {{.NS}} {{.DB_POD}} -- /bin/bash -c 'rm -f /pgdata/restore-{{.DB_NAME}}.psql'
  crunchy-exec:
    desc: Exec into a pod in a CrunchyData Postgres cluster. [DB_CLUSTER=required] [NS=required]
    preconditions:
      - which kubectl
      - kubectl get pods --namespace {{.NS}} -l postgres-operator.crunchydata.com/cluster={{.DB_CLUSTER}}
    requires:
      vars:
        - DB_CLUSTER
        - NS
    cmds:
      - kubectl exec -it --container database --namespace {{.NS}} {{.DB_POD}} -- /bin/bash
