name: Ansible Requirements
on:
  push:
    branches: [main]
    paths: ["ansible/**"]
  workflow_dispatch:
permissions:
  contents: read
jobs:
  poetry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Poetry
        run: pipx install poetry
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "poetry"
      - name: Poetry Install
        run: poetry install
        working-directory: ./ansible
      - name: Install the project dependencies
        run: poetry export --without-hashes --format=requirements.txt > requirements.txt
        working-directory: ./ansible
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: requirements
          path: ansible/requirements.txt
  commit:
    runs-on: ubuntu-latest
    needs: poetry
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: requirements
          path: ./ansible/
      - name: Commit changes
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add ansible/requirements.txt
          git commit -m "Update requirements.txt"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}
