---
name: Ansible Lint
on:
  push:
    branches: [main]
    paths: ["ansible/**"]
  workflow_dispatch:
    inputs:
      debug:
        description: "Debug mode"
        type: boolean
        required: false
        default: false
permissions:
  contents: read
jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          cache: "pip"
      - name: Cache Ansible Galaxy Dependencies
        uses: actions/cache@v5
        with:
          path: ansible/.dependencies
          key: ${{ runner.OS }}-ansible-lint-cache-${{ hashFiles('**/.dependencies/**') }}
          restore-keys: |
            ${{ runner.OS }}-ansible-lint-cache-
      # need to find a way to cache the requirements
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          setup_python: "false"
          working_directory: "ansible/"
          requirements_file: "requirements.yml"
