---
name: Build Container Images
on:
  push:
    branches: [main]
    paths:
      - "containers/**/**"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        context:
          - "nginx-live-stream"
          - "terraform-runner-python"
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get current timestamp
        id: time
        run: echo "time=$(date +'%s')" >> "$GITHUB_OUTPUT"
      - name: Build and push images
        uses: docker/build-push-action@v6.19.0
        with:
          context: containers/${{ matrix.context }}
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: |
            ghcr.io/chkpwd/${{ matrix.context }}:latest
            ghcr.io/chkpwd/${{ matrix.context }}:auto-${{ steps.time.outputs.time }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
