---
name: "k8s - Flux Diff"
on:
  pull_request:
    branches: ["main"]
    paths: ["kubernetes/**.yml"]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true
permissions:
  pull-requests: write
jobs:
  flux-diff:
    name: Compute diffs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cluster_path: ["kubernetes"]
        resources:
          - helmrelease
          - kustomization
    steps:
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@v2.7.5
      - name: Diff Resources
        uses: allenporter/flux-local/action/diff@8.1.0
        id: diff
        with:
          path: "${{ matrix.cluster_path }}/flux"
          resource: "${{ matrix.resources }}"
      - if: ${{ steps.diff.outputs.diff != '' }}
        name: Create PR Comments
        uses: mshick/add-pr-comment@v2
        continue-on-error: true
        with:
          message-id: "${{ github.event.pull_request.number }}/${{ matrix.cluster_path }}/${{ matrix.resources }}"
          message-failure: Diff was not successful
          message: |
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```
