name: Gather Metrics from Kromgo
on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  gather-metrics:
    name: Gather Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Gather and Display Metrics
        run: |
          FLUX_VERSION=$(curl -s "https://kromgo.chkpwd.com/flux_version" | jq -r '.message')
          K8S_VERSION=$(curl -s "https://kromgo.chkpwd.com/kubernetes_version" | jq -r '.message')
          CLUSTER_AGE=$(curl -s "https://kromgo.chkpwd.com/cluster_age_days" | jq -r '.message')
          CLUSTER_UPTIME=$(curl -s "https://kromgo.chkpwd.com/cluster_uptime_days" | jq -r '.message')
          MEMORY_USAGE=$(curl -s "https://kromgo.chkpwd.com/cluster_memory_usage" | jq -r '.message')
          CPU_USAGE=$(curl -s "https://kromgo.chkpwd.com/cluster_cpu_usage" | jq -r '.message')
          NETWORK_USAGE=$(curl -s "https://kromgo.chkpwd.com/cluster_network_transmit_usage" | jq -r '.message')
          NUMBER_OF_PODS=$(curl -s "https://kromgo.chkpwd.com/cluster_pods_running" | jq -r '.message')
          NODE_COUNT=$(curl -s "https://kromgo.chkpwd.com/cluster_node_count" | jq -r '.message')
          DATESEC=$(date +"%Y-%m-%d-%H:%M:%S")

          # Displaying metrics in a table format
          cat << EOF > metrics_table.md

          \`\`\`
          ~/code/iac main*
          â¯ curl -s "https://cluster-stats:8080" | jq -r '.[] | "\(.metric): \(.value)"'

            Metric          | Value
            ----------------|--------
            Nodes Count     | $NODE_COUNT
            Cluster Age     | $CLUSTER_AGE
            Cluster Uptime  | $CLUSTER_UPTIME
            Number of Pods  | $NUMBER_OF_PODS
            Memory Usage    | $MEMORY_USAGE
            CPU Usage       | $CPU_USAGE
            Network Usage   | $NETWORK_USAGE

            Time Checked: $DATESEC
          \`\`\`
          EOF

      - name: Update README.md
        run: |
          cat metrics_table.md >> README.md

      - name: Commit files
        id: commit
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "github-actions[bot]"
          git add README.md
          if [ -z "$(git status --porcelain)" ]; then
            echo "push=false" >> $GITHUB_OUTPUT
          else
            git commit -m "Add cluster metrics" -a
            echo "push=true" >> $GITHUB_OUTPUT
          fi

      - name: Push changes
        if: steps.commit.outputs.push == 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}
