---
name: Test Functionality
on:
  workflow_dispatch:
    inputs:
      client_id:
        description: "Client ID"
        required: true
permissions:
  contents: read
  id-token: write
jobs:
  lint:
    name: Test Functionality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
      - name: Get authentik token
        id: authentik-token
        uses: goauthentik/configure-authentik-credentials@v1.0.1
        with:
          authentik_url: https://authentik.chkpwd.com
          client_id: ${{ github.event.inputs.client_id }}
      - name: Use the token
        run: |
          echo ${{ steps.authentik-token.outputs.token }}
