---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.1.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: watchstate
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    global:
      fullNameOverride: watchstate
    controllers:
      watchstate:
        enabled: true
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: "${VOLSYNC_CAPACITY}"
              storageClass: ceph-block
              dataSourceRef:
                kind: ReplicationDestination
                apiGroup: volsync.backube
                name: "${APP}"
              globalMounts:
                - path: /config
        pod:
          securityContext:
            runAsUser: 1999
            runAsGroup: &group 1999
            fsGroup: *group
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/arabcoders/watchstate
              tag: v1.0.1
              pullPolicy: IfNotPresent
            env:
              WS_SECURE_API_ENDPOINTS: "true"
              WS_CRON_IMPORT_AT: "0 */6 * * *"
              WS_CRON_EXPORT_AT: "0 */6 * * *"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /v1/api/system/healthcheck
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 3Gi
    service:
      app:
        controller: watchstate
        primary: true
        ports:
          http:
            port: &port 8080
    route:
      private:
        enabled: true
        kind: HTTPRoute
        hostnames: ["{{ .Release.Name }}.chkpwd.com"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: watchstate
                port: *port
        parentRefs:
          - name: private
            namespace: kube-system
            sectionName: https
    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
